Dashboard/RestreamDashFlow.json
[{"id":"4c0216e9.207cb8","type":"tab","label":"Restreamer Dashboard","disabled":false,"info":""},{"id":"96893d09.ba41d","type":"group","z":"4c0216e9.207cb8","name":"Get Volume and Mute Status","style":{"label":true},"nodes":["ec68fb1d.2958f8","9b7b7913.887b48","2b27a69b.8cdd2a","651a604.06b2aa","cc4efb17.13f958","bf3062a8.41369","c9b4e0dd.d1a28","9ac75e28.4594e","6a0de073.92e04","25d669ab.138896","c313488.c9043b8"],"x":1254,"y":3339,"w":662,"h":402},{"id":"1e86db88.fcb334","type":"group","z":"4c0216e9.207cb8","name":"Websocket Authentication","style":{"label":true},"nodes":["eb272d57.e9b95","7de2f6d8.7dad38","cf2f7c5e.7eee7","6f0ac41a.c3bb7c","ed00b534.5b8068","9907d5a9.5cddb8","680c3e8e.2dbde"],"x":1094,"y":3039,"w":1082,"h":82},{"id":"149d213a.106a4f","type":"group","z":"4c0216e9.207cb8","name":"Advanced","style":{"label":true},"nodes":["bac4c37d.e693c","28b2a624.14db2a","648749ee.7e43b8","c0a5010c.f1119","8e988054.8fcb8","f77f463c.617108","a4d946db.290c48","54e20c0f.336814","2eb593bd.ee8d2c","4cb5306e.7870c","c942bfb.7415a4","20e6df23.06505","2ecdcc06.4f9004","47751693.749038","4307b656.3ba858","8e2cf515.2e82f8","660a0956.dc4f38","f3ef2037.9f61d","1deaa58b.dcc2ea","e85d2108.22f1a","8170acd9.b1726","98d22393.fb27e","b6ae9269.92836","c77471d7.6c979","9c10d75e.1d0498","e36cc7c5.d14ac8","d695d944.d14668","69106e6c.d2757","8768fafc.983c58","a77bc1f1.5b34d","b6e0437e.53e19","f7a7733a.7a202","21d1284e.713af8","f9d53239.14346","4a7c88c0.dccf88","27be6a29.535026","606c05d4.89666c","d00a481f.2169d8","7001a599.df568c","79654e9d.1015f","7f6ec2b2.0ba81c","ac877a6d.c78fc8"],"x":1094,"y":2359,"w":1372,"h":362},{"id":"e916d6b9.86f578","type":"group","z":"4c0216e9.207cb8","name":"Volume Control","style":{"label":true},"nodes":["589c236d.20315c","71b42ee.0b4ccd","fd00eee7.1732","1a501599.d41dda","1d87325a.c3ac8e","416f5ab6.3216a4","277edf55.96f1c","5e274b8d.754da4","3ec096d0.590c0a","49eadbcb.0ea424","d84ec02c.c493c","38ff8605.5698ba","ab0e7bec.1229d8","93ec2400.a73448","675de4c0.17f01c","97b58ec6.70b2e","8619faee.5db788","25b5e869.0d7378","e36c9481.9e4318","5b43213b.d939e","aa8b4a25.9ebbe8","2d32d3ba.c84dfc","1ff710d.8b570ef","b91e452b.eec5a8","b261e415.4eb6e8","6b120ec1.7042c","d559bc18.7f1b1","9ff33843.d1b7d8","998223a6.b782f","ba3a3578.dc20c8","ed1da59d.5e27b8","9987539d.a84a5","29e576bb.d5902a","ca65c6f4.451208","4f73575a.97ba68","4708d984.f50c88","f91f71e2.d0d6b","b1973c1f.4fff5","df369b2f.9eaed8","e3832f1a.61fb6","fcd41780.c6a788","6826f4ef.7b60cc","e8980af8.ecafd8","75da83eb.52a0ac","83f4a23d.e8d68","ae2e6eb0.523a3","73d454bc.a9498c","b699fae.1c2ce08","5c321249.c397ec","a237ddeb.36bf8","e2d77e1.436158","315b2f3b.524b4","e5792db4.395c8","71565d4b.771574","7079327.4a4c0cc","49020a7f.5efc64","b4df7bf6.00abf8","b1ea0898.bc2598","348a4464.49e12c","12a22530.71b4ab","bf7dbf32.ec1d1","911f6a79.f02dd8","82535358.e0ceb","49dc04b5.d68c1c","3319992.7a25b66","6ebd8049.31b2b","be12cda7.7fb27","6cba0378.bd93cc","63b87aa.2004e84","b80ce3a5.62978","2af99b2a.724684","58ac0f95.59d0c","5436a40.df2595c","5081a49f.9dccdc","5c325614.853228","f2299bfd.42b4d8","30edc33e.bbc5fc","97c5dcaa.6c042","cad6c2dc.32473","b339b1dc.a1c87","e7d8c13c.8745","c4ac2720.d64ee8","daa1e5f3.cf82d8","29b8e670.409e2a","2e8319bc.064426","eb1f87d8.5dd7a8","16fe71a7.ae1bee","891452ea.62a07","5f6a5781.a10bd8","330395cb.c8f37a","38dd5aaa.308056","10155438.87280c","fdfcffaa.6bcda"],"x":14,"y":1579,"w":2292,"h":762},{"id":"5a236024.b2506","type":"group","z":"4c0216e9.207cb8","name":"Websocket In","style":{"label":true},"nodes":["f51c1ab8.d2fb28","1cb64365.c03a0d","6dea4cb0.08a284","a620ad3c.e9f31","df27955c.ceeed8","15f1c9ea.c36506","184f051f.4b018b","6432e10e.76102","d793dc7a.9bfcc","bd6137bf.05e9b8","2b2cc7bd.fb9818","87ea0db5.7c83b","1b019326.5d89ed","c21f7972.3aa898","5a9a1dcc.4cf4b4","fd3818ab.07a708","e2af0bfa.bd4588","78c2fb30.714934","dbe7510d.cd985","d1b16dc9.b9f9e","3f2a7861.a04b68","c352cbba.024c88","676cb3ab.2ca9cc"],"x":1094,"y":2739,"w":1372,"h":282},{"id":"785d3bbd.c20374","type":"group","z":"4c0216e9.207cb8","name":"Monitoring","style":{"label":true},"nodes":["166f2176.6bec5f","9bd2e9d3.a59528","4dbdd13.c7cab3","ce46f6a2.d0d4c8","3ff83deb.8aee02","9db7ecd8.75069","be49d54.4a56228","789c324.ae693cc","9968d52a.71b1f8","fdf260c6.2880d","1fd258f7.71ec77","6af56d12.3f52f4","7c394212.c061ac","fe857bd0.9439d8","635b6dc4.6acf54","c20486bf.f3b828","c228d8c7.2c9d68","e31cefc6.7e464","193d0070.f912a","96168cd8.d8266","1841a52f.bc9abb","f5a19cf7.f842b","2b63258d.db720a","ff60ee43.450fb","a4e852e2.32fdd","8f8143a8.84248","51433af5.033914","200957fe.767a48","be95699f.ffe308","7f66133.cc29fec","673b37f.1b5b0c8","836aef4e.18577","87fcd21f.38ed8","83e8bf0f.7917a","e297de77.b84ac","5f20d1e2.6c73d","74e39a42.0fbd34","c8912496.dd5c48","90b15eee.7794a"],"x":14,"y":2359,"w":1052,"h":602},{"id":"113fd92b.f1f0b7","type":"group","z":"4c0216e9.207cb8","name":"Config File","style":{"label":true},"nodes":["366908ef.8cec78","cac25ab0.6b9598","664c5a13.eeb7b4","d80f22ad.bfdb7","c8d11eed.5ba16","45e15cab.38f004","1d5f0d21.c0b4c3","9664899e.1f8408","e2e3acd3.cdf7f","49823e7a.c0c05","e2a28e93.a3f0a","a3aa0c11.72289","a7f76864.c05578","6538476d.d33698","c8b31f6b.c0145","641d4593.c8797c","2891f052.ffb3c","d3c85f53.55908","6213011.f2ae5","fca45b5.36b5ba8","5e56ca29.126974","2da1186d.788948","2e5110bc.1fa5","bf60c11.001454","dd2a6891.c0ec08","2d4f7d7a.a90d72","8fd500f6.19b95","272f1d0c.4334b2","d1c5e699.cdf828","454cfdb3.965ab4","c07b2b73.bb8e28","f327fcec.2da9","f34598a5.870f28","fd650981.af0518","3bbfb355.08d5bc","d4213e0e.8755f","d7500bca.a9cd08","4dbe1280.89c1dc","614348e9.417be8","d908b9ec.12e178","f4c01499.22b2f8","8a695f4f.b9606","627caa3a.494084","51afb774.22bc68","bebdf71b.1f2958","47877f51.e309b","1be951c6.8b60ae","720a2e5d.5653c","42b51857.69f128","d104e1c3.a69a2","c906aeb5.a536e","1d33d319.3f7b4d","2fcf1ab.172afe6","7f0f012c.d234a","723c4a3d.14d4c4","742e08f2.c65cb8","c312fb8a.3e61a8","2a053d3b.492692","d9437660.d04528","de4bfe5a.3d4d2","68bb5edf.feef4","acb6f034.df60b","2289bdcd.e65852","9d863c27.d4e75","e7faccb2.022b2","4083d476.bdafec","71b215ca.14cbfc","1ad86828.ab3038","9d094f5c.e7ee7","be7a8112.847de","8c99ad5b.14627","b1731566.b4ff38","1cd2fc7.75b4f04","2f112470.4f726c","e5338124.cc216","66a1c59b.c685ec","220e6a4f.5e84f6","8ec28249.bc128","32d28580.e7c1da","893f17a4.06b828","902f7606.b431a8","7337361a.6bad58","2701ccba.d69c04","5a70c178.596e5"],"x":14,"y":19,"w":1872,"h":802},{"id":"81680dd0.944fd","type":"group","z":"4c0216e9.207cb8","name":"Home Page","style":{"label":true},"nodes":["f21352c7.28e2","9ecc3d96.b18fb","d327b4e0.9510a8"],"x":1254,"y":3759,"w":672,"h":122},{"id":"f89da2d1.9bdea","type":"group","z":"4c0216e9.207cb8","name":"Websocket Out","style":{"label":true},"nodes":["fa1bf7ec.972f38","fa5721d4.24746","1370f5bd.48d9ea","d37803f.f50d5","8d0d832b.31c6b"],"x":1094,"y":3139,"w":792,"h":82},{"id":"f2bc3316.a0857","type":"group","z":"4c0216e9.207cb8","name":"Mute Control","style":{"label":true},"nodes":["c04ae032.e651d","8e62ae47.f6457","58429778.3bc658","4b9c5d3c.2c81b4","8f742f39.c664e","602ae34a.25bb4c","2c8c9dc.2a1b662","a6d2c1c0.04b81","52f8f256.c83bcc","a6f032a6.0e066","ed60ea32.e340e8","2471294.ad98cd6","97941ef1.cf8f6","e60650e7.c4264","b72932dc.b83f3","a7c9c1a6.5797b","dd950f9b.0e546","6b849c1b.67b7c4","5c9719c3.93e198","662f4ea3.13727","f057a919.c73068","7710660c.f7a658","7ef1f5f3.ee00bc","cdb00f88.d5812","5184b9c6.38af98","1de07d04.8b2a03","3632cef5.762532","15a5927d.d8c33e","42f8f6c3.9c7e08","4bc39e39.f1ded"],"x":14,"y":2979,"w":1062,"h":402},{"id":"c187809d.df517","type":"group","z":"4c0216e9.207cb8","name":"Websocket Setup","style":{"label":true},"nodes":["5bc476a4.700018","8d75cc3f.42b96","af358164.1ee9f","8b60f06f.d4fc9"],"x":54,"y":59,"w":312,"h":142},{"id":"3caee3bd.3c1cac","type":"group","z":"4c0216e9.207cb8","name":"Audio Slider Labels","style":{"label":true},"nodes":["1642dd49.986463","93dd811b.93a7d","2b0f8f92.7f9ac","a0825b0f.b0a2d8","64837d16.3518f4","18fb241e.592dbc","47051bd3.0179c4","a75ed99.7874528","3f17b69f.aea23a"],"x":14,"y":3859,"w":632,"h":242},{"id":"cba90f1a.73737","type":"group","z":"4c0216e9.207cb8","name":"Scene Group Labels","style":{"label":true},"nodes":["cb5f0d.519870f","fee18c6a.27e95","f13b3f20.b8e73","51b1f41d.e9c56c","d48dce6f.0814c"],"x":1034,"y":1479,"w":852,"h":82},{"id":"b3fbbfe8.5aabf","type":"group","z":"4c0216e9.207cb8","name":"Auto Record","style":{"label":true},"nodes":["7f769ad9.920494","e57cd139.0ea24","316bffd8.efe4","8e718a83.72a108","8ace12ee.b132a","bfd08503.8da838","79463f33.ff7eb","ed925e2d.b6997","6e88fee3.77da5","e649329a.9bc83","ef10a54f.951888","ff247e9c.0b6a7","d9d0e03d.26c2a","47110598.98f4ac","22e7c3e6.d4b4dc","9cb23e2e.d4acd","9e7bcfde.48d5c","d632c0c6.e1ac5","4daf44b5.080d5c","f3f157fd.3adda8","76fee0ad.79325","cad74338.1bdff","cda87dc3.130ee","c8d60bbd.e2ce98","c1d0c4cd.8d36b8","7a67798b.06ad18","64f5a82d.090a78","e5050b78.1103c8","34918564.f0a72a","78166f0b.6f217","bceeea9d.1b4ac8","3863ccc.808be34","d5ea09e0.f2e348","5a4f81f8.f23bb","364b5780.57f258"],"x":14,"y":3399,"w":1212,"h":442},{"id":"cd4202df.24e56","type":"group","z":"4c0216e9.207cb8","name":"Twitch/RTMP Source Control","style":{"label":true},"nodes":["ae050663.7aadb8","22096dcc.5a6bb2","6b55cfcf.486ec","61e48591.cc7d2c","f5b606ac.f44388","5aac0f9e.a2e15","6e870f83.cc1b4","17dd2848.d48778","71e30612.0057e8","d35ebc41.a1496","3e492a42.e51b26","f0f1c23b.db53b","1bba21aa.e9a33e","22df33ec.4eae8c","ffc87851.964478","4280e93f.ed1778","a88e6e2b.e4b57","cb6c5c42.f9f09","e5bbad0c.cda19","bbce4fae.665f1","c461f7c3.02cca8","704b1a20.58f004","17522b47.d9e6f5","355c32a5.5504ae","a7e5851.d623178","96208752.6fc3d8","2f516166.f08f6e","1ada97f8.80c1f8","cbeb1cd5.04855","37099789.2f2638","758db6ee.0fea38","c04de81.6fb7318","961c385b.12a768","8fe1182b.103958","a3b6594f.cf90f8","f63632ae.a3e9c","e2b5537b.d398e","9102719c.58db8","8906c502.9bf628","6c85dee9.9646c","a659bf99.76569","713f6396.b216cc","8cc6b4dd.070fe8","f54dda11.739928","51bda168.ee049"],"x":1034,"y":839,"w":1022,"h":622},{"id":"a133ab56.af7628","type":"group","z":"4c0216e9.207cb8","name":"Scene Control","style":{"label":true},"nodes":["cc062bb7.1eceb8","b2b892b4.33507","d10a8617.da3c58","fd139860.fcf0a8","e48e6fbb.3c60d","dc992b62.e5e1f8","f2871a18.618868","350da256.50105e","260c2224.d4c82e","bd11d75c.63ab68","cfdc130.b3f61f","962ef04f.ef4ea","9a686e01.dbbbe","df522ba6.4a15a8","2e8800d8.3647b","2751dbbc.3db6e4","ba1aad28.41af4","60550fad.9d455","82e6eab1.cf6318","f94ab837.f90de8","3c54ea90.b4b6d6","a9258ad8.ce5038","c7f0abc7.66a378","3fe2ba22.c1fa26","f043c88e.615b58","88866153.5a68","1f243648.049b4a","29d93da0.c89672","e888ca8c.968198","de0b2de5.168ca","7730f238.410dcc","7216f5c4.f637dc","5bdf9688.5fcbe8","9995be63.465a1"],"x":14,"y":839,"w":1002,"h":722},{"id":"a23e689e.f795a8","type":"group","z":"4c0216e9.207cb8","name":"Open NodeCG Dashboard","style":{"label":true},"nodes":["1a64c5a2.fd3c6a","1513aa0a.4beec6","d9406dd0.3b86e","5e1f0081.6dc3c"],"x":1094,"y":3239,"w":692,"h":82},{"id":"1328594f.f2b287","type":"group","z":"4c0216e9.207cb8","name":"Page License","style":{"label":true},"nodes":["5b957777.fabf08","e1cd002c.333d5","81e5ba5a.181a58","a28190c5.0af99","93747560.8d2848"],"x":674,"y":3859,"w":432,"h":202},{"id":"a8d617a1.105648","type":"ui_group","name":"Default","tab":"3d5ebf7f.45857","order":1,"disp":false,"width":24,"collapse":false},{"id":"f730e6b9.e57418","type":"ui_group","name":"Advanced","tab":"39d60d87.43cc22","order":3,"disp":false,"width":30,"collapse":false},{"id":"7b354f0c.4c862","type":"ui_tab","name":"Scenes","icon":"image","order":2,"disabled":false,"hidden":false},{"id":"2e873001.e39fd","type":"ui_tab","name":"Audio","icon":"volume_up","order":3,"disabled":false,"hidden":false},{"id":"3d5ebf7f.45857","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"39d60d87.43cc22","type":"ui_tab","name":"Advanced","icon":"settings","order":5,"disabled":false,"hidden":false},{"id":"6942f967.be7578","type":"ui_tab","name":"Monitoring","icon":"trending_up","order":4,"disabled":false,"hidden":false},{"id":"5459b03.b33ee5","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"NodeCG Theme","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#525f78","edited":true},"page-backgroundColor":{"value":"#2f3a4f","edited":true},"page-sidebar-backgroundColor":{"value":"#3b424f","edited":true},"group-textColor":{"value":"#f5f5f5","edited":true},"group-borderColor":{"value":"#2f3a4f","edited":true},"group-backgroundColor":{"value":"#2f3a4f","edited":true},"widget-textColor":{"value":"#f5f5f5","edited":true},"widget-backgroundColor":{"value":"#1e1e1e","edited":true},"widget-borderColor":{"value":"#2f3a4f","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ea1fb6.7371a04","type":"websocket-client","path":"ws://localhost:4444","tls":"","wholemsg":"false"},{"id":"eeea7a63.559ee8","type":"ui_spacer","name":"spacer","group":"416c7526.2b0f9c","order":7,"width":6,"height":1},{"id":"cc8e6402.3a5e78","type":"ui_group","name":"Audio","tab":"2e873001.e39fd","order":5,"disp":false,"width":30,"collapse":false},{"id":"456c08ba.a189d8","type":"websocket-client","path":"ws://71.88.79.187:4444","tls":"","wholemsg":"false"},{"id":"8ccdea1b.541ad8","type":"ui_group","name":"Scenes","tab":"7b354f0c.4c862","order":7,"disp":false,"width":30,"collapse":false},{"id":"c7e34ee2.e93ba","type":"ui_group","name":"Stats","tab":"6942f967.be7578","order":9,"disp":false,"width":30,"collapse":false},{"id":"3c176c8.1d2c794","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":1,"width":4,"height":1},{"id":"72dfeeaa.9c0b4","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":5,"width":2,"height":1},{"id":"8ef3a200.4b0e6","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":6,"width":4,"height":1},{"id":"13e169e0.86d006","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":8,"width":2,"height":1},{"id":"361dd956.e8a216","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":9,"width":4,"height":1},{"id":"65fb4080.a9cab","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":11,"width":2,"height":1},{"id":"43d76a21.1fdcc4","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":12,"width":4,"height":1},{"id":"f4c345a5.ea34b8","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":14,"width":2,"height":1},{"id":"ad653635.351ec8","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":15,"width":4,"height":1},{"id":"a59addf8.d36a4","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":17,"width":2,"height":1},{"id":"10911231.cd6a3e","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":18,"width":4,"height":1},{"id":"8612da66.ac8b78","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":20,"width":2,"height":1},{"id":"3c2b6756.159d58","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":21,"width":4,"height":1},{"id":"6a526fa1.6ccc9","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":23,"width":2,"height":1},{"id":"c41bb125.010a3","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":24,"width":4,"height":1},{"id":"f56a06b6.51b438","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":27,"width":2,"height":1},{"id":"d81cb7d3.0214c8","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":28,"width":4,"height":1},{"id":"6ca01c84.40d6b4","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":29,"width":14,"height":1},{"id":"a5b45422.6b9608","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":30,"width":4,"height":1},{"id":"fc9ab86b.208e18","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":31,"width":14,"height":1},{"id":"299b9ee2.412062","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":32,"width":4,"height":1},{"id":"195f3599.a393fa","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":33,"width":14,"height":1},{"id":"90b73541.565578","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":34,"width":4,"height":1},{"id":"31d09f71.3fe65","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":35,"width":14,"height":1},{"id":"60991784.9d40f8","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":36,"width":4,"height":1},{"id":"dbe96715.65a548","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":37,"width":12,"height":1},{"id":"6770adb8.999094","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":39,"width":4,"height":1},{"id":"ecdcf8a0.9dfbb8","type":"ui_spacer","name":"spacer","group":"f730e6b9.e57418","order":40,"width":14,"height":1},{"id":"2210c394.b5ff4c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":1,"width":3,"height":1},{"id":"1d34c073.85025","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":4,"width":3,"height":1},{"id":"441c4af7.2c90b4","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":5,"width":3,"height":1},{"id":"4057e233.be307c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":6,"width":3,"height":1},{"id":"2e8f7856.5b15c8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":7,"width":3,"height":1},{"id":"3050d4bd.e0a29c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":8,"width":3,"height":1},{"id":"779ef0d3.0b07c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":9,"width":3,"height":1},{"id":"5cbf1637.856428","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":10,"width":3,"height":1},{"id":"f26f8bb2.aa8218","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":11,"width":3,"height":1},{"id":"d4ed26f4.a6eb18","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":12,"width":3,"height":1},{"id":"7a0342b9.89f5cc","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":13,"width":3,"height":1},{"id":"dc9f42e5.06444","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":14,"width":3,"height":1},{"id":"228f7f09.03c8d","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":15,"width":3,"height":1},{"id":"6160bf1.067c24","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":16,"width":3,"height":1},{"id":"e7a4d7c1.a54048","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":17,"width":2,"height":1},{"id":"6c26b275.297b9c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":19,"width":2,"height":1},{"id":"a6f10e5b.3f6b5","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":21,"width":2,"height":1},{"id":"926a1cb1.e9219","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":23,"width":2,"height":1},{"id":"1af0005d.bb21b","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":25,"width":2,"height":1},{"id":"98763c22.4052c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":27,"width":2,"height":1},{"id":"e5ee50ce.ea6d5","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":29,"width":2,"height":1},{"id":"9f9557c4.7a7658","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":31,"width":2,"height":1},{"id":"1c7cfccc.f310b3","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":33,"width":2,"height":1},{"id":"cc50889f.a67438","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":35,"width":3,"height":1},{"id":"f21af444.7bb568","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":36,"width":2,"height":1},{"id":"e51247b6.cb3698","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":37,"width":2,"height":1},{"id":"902daf0e.ba00d","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":38,"width":2,"height":1},{"id":"7d9d5411.c76ecc","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":39,"width":2,"height":1},{"id":"ec89c002.8611f","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":40,"width":2,"height":1},{"id":"6b7847f5.6dbe58","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":41,"width":2,"height":1},{"id":"267e1f43.f9388","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":42,"width":2,"height":1},{"id":"bd2f28e.9d466d8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":43,"width":2,"height":1},{"id":"3c39f423.ede47c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":44,"width":2,"height":1},{"id":"9b4f3559.ad00d8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":45,"width":3,"height":1},{"id":"e42f6a86.cfc158","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":46,"width":2,"height":1},{"id":"126108da.f07007","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":47,"width":2,"height":1},{"id":"5603b741.4558b8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":48,"width":2,"height":1},{"id":"7c090271.5b368c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":49,"width":2,"height":1},{"id":"a3513b13.13e538","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":50,"width":2,"height":1},{"id":"b5ceccd5.77659","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":51,"width":2,"height":1},{"id":"ae370d71.a3ac9","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":52,"width":2,"height":1},{"id":"6478daff.9db434","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":53,"width":2,"height":1},{"id":"83486292.8c57e","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":54,"width":2,"height":1},{"id":"c4c5f448.25b928","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":55,"width":3,"height":1},{"id":"b57ec9a.a95b838","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":56,"width":2,"height":1},{"id":"2eb1a1c3.190bfe","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":57,"width":2,"height":1},{"id":"3048442c.2beecc","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":58,"width":2,"height":1},{"id":"80c7413c.fc9","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":59,"width":2,"height":1},{"id":"1a001956.048827","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":60,"width":2,"height":1},{"id":"c4993abc.f7c628","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":61,"width":2,"height":1},{"id":"71a3655f.02b02c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":62,"width":2,"height":1},{"id":"1801375b.5e6339","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":63,"width":2,"height":1},{"id":"ea7eaf07.cf14f","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":64,"width":2,"height":1},{"id":"4ce4597d.ea8be8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":65,"width":3,"height":1},{"id":"c71816c3.3e4fa8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":66,"width":2,"height":1},{"id":"2a5f18.ac8060e8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":67,"width":2,"height":1},{"id":"e6829443.7af978","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":68,"width":2,"height":1},{"id":"2c6e8f96.6000c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":69,"width":2,"height":1},{"id":"ce59cc09.9d0b7","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":70,"width":2,"height":1},{"id":"62de2302.6f453c","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":71,"width":2,"height":1},{"id":"c4f30ad1.2473f8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":72,"width":2,"height":1},{"id":"bc218434.5ddbf8","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":73,"width":2,"height":1},{"id":"9e3aa7ce.31f028","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":74,"width":2,"height":1},{"id":"9a02b970.991488","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":75,"width":3,"height":1},{"id":"5b79b4bf.27d6bc","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":76,"width":1,"height":1},{"id":"4e6de11e.deab1","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":86,"width":2,"height":1},{"id":"9a23c91e.d50878","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":87,"width":1,"height":1},{"id":"5665a105.01606","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":97,"width":2,"height":1},{"id":"cfe64407.70ae08","type":"ui_spacer","name":"spacer","group":"cc8e6402.3a5e78","order":98,"width":30,"height":1},{"id":"33235d6e.944a92","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":6,"width":1,"height":1},{"id":"18984a9e.50ed25","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":11,"width":1,"height":1},{"id":"d5c1f5fd.202da8","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":12,"width":1,"height":1},{"id":"d816ec2a.c654b","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":17,"width":1,"height":1},{"id":"34080274.8a32ee","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":18,"width":1,"height":1},{"id":"de3d6664.69bf08","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":23,"width":1,"height":1},{"id":"ed75100e.928d5","type":"ui_spacer","name":"spacer","group":"c7e34ee2.e93ba","order":24,"width":30,"height":1},{"id":"54edd5c7.3b325c","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":2,"width":3,"height":1},{"id":"bde3759e.b00db8","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":5,"width":3,"height":1},{"id":"957eeef9.4af52","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":7,"width":8,"height":1},{"id":"aa8c5304.792bc","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":8,"width":1,"height":1},{"id":"fe8d0583.00c248","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":11,"width":1,"height":1},{"id":"ba8f49dd.61db78","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":12,"width":1,"height":1},{"id":"8b98099f.a937c8","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":14,"width":1,"height":1},{"id":"f4c0718b.b9925","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":15,"width":1,"height":1},{"id":"18a31d30.d97913","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":17,"width":1,"height":1},{"id":"23f80f7e.17b3c","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":18,"width":8,"height":1},{"id":"39456805.038a78","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":19,"width":8,"height":1},{"id":"bf9dff4a.818cc","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":42,"width":4,"height":1},{"id":"82805a09.2e9ba8","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":44,"width":4,"height":1},{"id":"491b50e8.c4bab","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":45,"width":2,"height":1},{"id":"33edaff1.b993e","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":48,"width":2,"height":1},{"id":"b8944785.0c7788","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":50,"width":2,"height":1},{"id":"493ad985.3dade8","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":53,"width":2,"height":1},{"id":"606e3d24.214984","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":54,"width":2,"height":1},{"id":"9f14dd6c.e1461","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":57,"width":2,"height":1},{"id":"3d9c8786.8e9418","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":58,"width":12,"height":1},{"id":"dac106f0.b75998","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":59,"width":3,"height":1},{"id":"dd413c74.5c5bf","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":62,"width":3,"height":1},{"id":"e01701cf.4e5a7","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":63,"width":3,"height":1},{"id":"a721ff35.48963","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":66,"width":3,"height":1},{"id":"6c3b5456.aed6dc","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":67,"width":3,"height":1},{"id":"e65d4c5a.a8a8","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":69,"width":11,"height":1},{"id":"d1d7beb7.91efa","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":70,"width":5,"height":1},{"id":"409078ee.f49368","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":73,"width":13,"height":1},{"id":"1d84891a.688b57","type":"ui_spacer","name":"spacer","group":"8ccdea1b.541ad8","order":74,"width":20,"height":1},{"id":"f51c1ab8.d2fb28","type":"json","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload","action":"","pretty":false,"x":1270,"y":2900,"wires":[["6dea4cb0.08a284","e2af0bfa.bd4588","87ea0db5.7c83b"]]},{"id":"1cb64365.c03a0d","type":"catch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","scope":null,"uncaught":false,"x":1180,"y":2860,"wires":[["6dea4cb0.08a284","e2af0bfa.bd4588"]]},{"id":"664c5a13.eeb7b4","type":"inject","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","x":120,"y":380,"wires":[["8fd500f6.19b95","66a1c59b.c685ec"]]},{"id":"d80f22ad.bfdb7","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"8ccdea1b.541ad8","name":"Timer (NodeCG)","order":49,"width":8,"height":6,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":880,"y":380,"wires":[[]]},{"id":"c8d11eed.5ba16","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe id=\"timerIFrame\" src=\"{{{payload.NodeCGDashboardIP}}}/bundles/nodecg-speedcontrol/dashboard/timer.html?standalone=true\" scrolling=no style=\"overflow:hidden; background-color: #2F3A4F; border:0px #ffffff none;\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"400px\" width=\"420px\" allowtransparency=\"true\"</iframe>","output":"str","x":680,"y":380,"wires":[["d80f22ad.bfdb7"]]},{"id":"45e15cab.38f004","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"{{{payload.NodeCGDashboardIP}}}/bundles/nodecg-speedcontrol/dashboard/run-player.html?standalone=true\" style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"700px\" width=\"500px\" allowfullscreen></iframe>","output":"str","x":680,"y":420,"wires":[["1d5f0d21.c0b4c3"]]},{"id":"1d5f0d21.c0b4c3","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"8ccdea1b.541ad8","name":"Run Player (NodeCG)","order":25,"width":10,"height":15,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":420,"wires":[[]]},{"id":"9664899e.1f8408","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"8ccdea1b.541ad8","name":"Twitch Control (NodeCG)","order":24,"width":8,"height":6,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":910,"y":460,"wires":[[]]},{"id":"e2e3acd3.cdf7f","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.OBSPreview}}} style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"327px\" width=\"582px\" allowfullscreen></iframe>","output":"str","x":680,"y":100,"wires":[["a3aa0c11.72289","366908ef.8cec78","6538476d.d33698"]]},{"id":"49823e7a.c0c05","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.OBSProgram}}} style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"327px\" width=\"582px\" allowfullscreen></iframe>","output":"str","x":680,"y":300,"wires":[["e2a28e93.a3f0a","a7f76864.c05578","c8b31f6b.c0145"]]},{"id":"e2a28e93.a3f0a","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"8ccdea1b.541ad8","name":"Program (OBS.Ninja)","order":6,"width":11,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":260,"wires":[[]]},{"id":"a3aa0c11.72289","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"cc8e6402.3a5e78","name":"Preview (OBS.Ninja)","order":2,"width":12,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":100,"wires":[[]]},{"id":"366908ef.8cec78","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"8ccdea1b.541ad8","name":"Preview (OBS.Ninja)","order":1,"width":11,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":60,"wires":[[]]},{"id":"a7f76864.c05578","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"cc8e6402.3a5e78","name":"Program (OBS.Ninja)","order":3,"width":12,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":300,"wires":[[]]},{"id":"f21352c7.28e2","type":"inject","z":"4c0216e9.207cb8","g":"81680dd0.944fd","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","x":1360,"y":3840,"wires":[["9ecc3d96.b18fb"]]},{"id":"9ecc3d96.b18fb","type":"ui_template","z":"4c0216e9.207cb8","g":"81680dd0.944fd","group":"a8d617a1.105648","name":"","order":1,"width":24,"height":26,"format":"<style>\na:link {\n  color: DarkTurquoise;\n  background-color: transparent;\n  text-decoration: none;\n}\na:visited {\n  color: DarkTurquoise;\n  background-color: transparent;\n  text-decoration: none;\n}\n</style>\n<h1>Welcome to the Restreamer Dashboard!</h1>\n<p>restreamer-dashboard is a custom UI built on Node-Red to control many functions of OBS, without actually connecting to the host's computer. This is aimed at speedrunning marathons, therefore most of the functions one might use are included, such as scene-switching, audio management and more. Unlike Teamviewer, the restreamer never has direct access to the host's computer, and this can even be ran off a webserver!</p>\n<br>\n<h1>Features</h1>\n<ul>\n<li>16 pre-built scenes, with an additional 5 customizable ones</li>\n<li>6 pre-built audio sources, with an additional 3 customizable ones</li>\n<li>Full audio management, including individual volume sliders and mute controls</li>\n<li>Fully functional preview and program, powered by OBS.Ninja</li>\n<li>Auto Record: Record whenever you're not in an intermission</li>\n<li>Full monitoring tab with all OBS stats and Twitch feed</li>\n<li>Password-protected controls including start/stop streaming and recording</li>\n<li>NodeCG integration including timer and run control</li>\n<li>Support for both Twitch and RTMP streams</li>\n<li>Support for HTTPS and password authentication</li>\n</ul>\n<h1>Organizers!</h1>\n<p>Do you need help with installation? Having a technical problem? Need to improve security? Visit the restreamer-dashboard wiki! <a href=\"https://github.com/nicnacnic/restreamer-dashboard/wiki\" target=\"_blank\">https://github.com/nicnacnic/restreamer-dashboard/wiki</a></p>\n<br>\n<h1>Restreamers!</h1>\n<p>Don't know what this is all about? Confused by all the buttons? Need help setting up a run? Check out the User Guide! <a href=\"https://github.com/nicnacnic/restreamer-dashboard/wiki/User-Guide\" target=\"_blank\">https://github.com/nicnacnic/restreamer-dashboard/wiki/User-Guide</a></p>\n<br>\n<h1>Suggestions and Support</h1>\n<p>The dashboard is still being developed, so if you come across any bugs or have any suggestions, please let me know by checking the list of known bugs, and creating an issue in the issue tracker if it isn't listed.</p>\n<p>If you're having issues installing or using the dashboard, I can be reached through my Discord server. Be aware that I'm usually busy with multiple marathons and other projects so I might not be able to help you right away.</p>\n<p>If you end up using restreamer-dashboard during your marathon/event, it would be greatly appreciated if you included the repository name and author in your end credits.</p>\n<br>\n<h1>Special Thanks</h1>\n<p>TokkoTomcat and Disdonn, for original testing and bug-finding.</p>\n<p>UWS-CIA, for lending me his time and helping me fix issues with obs-websocket authentication.</p>\n<p>Kuno Demetries, for letting me test this dashboard on his marathon, and putting up with the many tech issues I'm probably going to cause.</p>\n<p>The Midwest Speedfest crew, for helping out with my NodeCG issues and for overall being such cool people :D</p>\n<p>And finally you, for using this dashboard. Thank you!</p>\n<br>\n<h1>License</h1>\n<p>MIT License</p>\n<p>Copyright (c) 2021 nicnacnic</p>\n<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the \"Software\"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>\n<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>\n<p>THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1520,"y":3840,"wires":[[]]},{"id":"fa1bf7ec.972f38","type":"json","z":"4c0216e9.207cb8","g":"f89da2d1.9bdea","name":"","property":"payload","action":"","pretty":false,"x":1550,"y":3180,"wires":[["d37803f.f50d5"]]},{"id":"c04ae032.e651d","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"P1 Browser Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":77,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":630,"y":3020,"wires":[["7710660c.f7a658"]]},{"id":"6dea4cb0.08a284","type":"debug","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"Debug Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":2940,"wires":[]},{"id":"8e62ae47.f6457","type":"switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","property":"payload.sourceName","propertyType":"msg","rules":[{"t":"eq","v":"P1 Browser","vt":"str"},{"t":"eq","v":"P2 Browser","vt":"str"},{"t":"eq","v":"P3 Browser","vt":"str"},{"t":"eq","v":"P4 Browser","vt":"str"},{"t":"eq","v":"Discord","vt":"str"},{"t":"eq","v":"Music","vt":"str"},{"t":"eq","v":"AudioCustom1","vt":"flow"},{"t":"eq","v":"AudioCustom2","vt":"flow"},{"t":"eq","v":"AudioCustom3","vt":"flow"}],"checkall":"true","repair":false,"outputs":9,"x":170,"y":3180,"wires":[["52f8f256.c83bcc"],["a6f032a6.0e066"],["ed60ea32.e340e8"],["2471294.ad98cd6"],["97941ef1.cf8f6"],["e60650e7.c4264"],["b72932dc.b83f3"],["a7c9c1a6.5797b"],["dd950f9b.0e546"]]},{"id":"58429778.3bc658","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"P2 Browser Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":78,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":630,"y":3060,"wires":[["7ef1f5f3.ee00bc"]]},{"id":"4b9c5d3c.2c81b4","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"P3 Browser Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":79,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":630,"y":3100,"wires":[["cdb00f88.d5812"]]},{"id":"8f742f39.c664e","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"P4 Browser Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":80,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":630,"y":3140,"wires":[["5184b9c6.38af98"]]},{"id":"602ae34a.25bb4c","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Discord Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":81,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":640,"y":3180,"wires":[["1de07d04.8b2a03"]]},{"id":"2c8c9dc.2a1b662","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Music Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":82,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":650,"y":3220,"wires":[["3632cef5.762532"]]},{"id":"ec68fb1d.2958f8","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"P1 Browser Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.P1Browser}}}\"\n}","output":"json","x":1650,"y":3380,"wires":[["c313488.c9043b8"]]},{"id":"589c236d.20315c","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"P1 Browser Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":18,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0.01","max":"1","step":"0.01","x":1110,"y":1660,"wires":[["d84ec02c.c493c"]]},{"id":"a620ad3c.e9f31","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload[\"update-type\"]","propertyType":"msg","rules":[{"t":"eq","v":"StreamStatus","vt":"str"},{"t":"eq","v":"SourceMuteStateChanged","vt":"str"},{"t":"eq","v":"TransitionBegin","vt":"str"},{"t":"eq","v":"SourceVolumeChanged","vt":"str"},{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":1620,"y":2860,"wires":[["184f051f.4b018b"],["df27955c.ceeed8"],["676cb3ab.2ca9cc"],["15f1c9ea.c36506"],["6432e10e.76102"],["d793dc7a.9bfcc"]]},{"id":"df27955c.ceeed8","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["a6d2c1c0.04b81"],"x":1755,"y":2820,"wires":[]},{"id":"a6d2c1c0.04b81","type":"link in","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","links":["df27955c.ceeed8","c21f7972.3aa898","c2499cfa.e09cb","35e3e7aa.9b4a18"],"x":55,"y":3180,"wires":[["8e62ae47.f6457"]]},{"id":"52f8f256.c83bcc","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3020,"wires":[["c04ae032.e651d"]]},{"id":"a6f032a6.0e066","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3060,"wires":[["58429778.3bc658"]]},{"id":"ed60ea32.e340e8","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3100,"wires":[["4b9c5d3c.2c81b4"]]},{"id":"2471294.ad98cd6","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3140,"wires":[["8f742f39.c664e"]]},{"id":"97941ef1.cf8f6","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3180,"wires":[["602ae34a.25bb4c"]]},{"id":"e60650e7.c4264","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3220,"wires":[["2c8c9dc.2a1b662"]]},{"id":"71b42ee.0b4ccd","type":"link in","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","links":["15f1c9ea.c36506","45ced07d.c72a7","ed814fc7.bce38"],"x":55,"y":1940,"wires":[["3ec096d0.590c0a"]]},{"id":"15f1c9ea.c36506","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["71b42ee.0b4ccd"],"x":2155,"y":2860,"wires":[]},{"id":"9b7b7913.887b48","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"P2 Browser Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.P2Browser}}}\"\n}","output":"json","x":1650,"y":3420,"wires":[["c313488.c9043b8"]]},{"id":"fd00eee7.1732","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"P2 Browser Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":20,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0.0","max":"1","step":"0.01","x":1110,"y":1740,"wires":[["911f6a79.f02dd8"]]},{"id":"2b27a69b.8cdd2a","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"P3 Browser Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.P3Browser}}}\"\n}","output":"json","x":1650,"y":3460,"wires":[["c313488.c9043b8"]]},{"id":"1a501599.d41dda","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"P3 Browser Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":22,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0.0","max":"1","step":"0.01","x":1110,"y":1820,"wires":[["82535358.e0ceb"]]},{"id":"1d87325a.c3ac8e","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.P1Browser}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":1660,"wires":[["1ff710d.8b570ef","6b120ec1.7042c"]]},{"id":"651a604.06b2aa","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"P4 Browser Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.P4Browser}}}\"\n}","output":"json","x":1650,"y":3500,"wires":[["c313488.c9043b8"]]},{"id":"416f5ab6.3216a4","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"P4 Browser Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":24,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0.0","max":"1","step":"0.01","x":1110,"y":1900,"wires":[["49dc04b5.d68c1c"]]},{"id":"cc4efb17.13f958","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Discord Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.Discord}}}\"\n}","output":"json","x":1660,"y":3540,"wires":[["c313488.c9043b8"]]},{"id":"277edf55.96f1c","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Discord Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":26,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0.0","max":"1","step":"0.01","x":1100,"y":1980,"wires":[["3319992.7a25b66"]]},{"id":"bf3062a8.41369","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Music Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.Music}}}\"\n}","output":"json","x":1670,"y":3580,"wires":[["c313488.c9043b8"]]},{"id":"5e274b8d.754da4","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Music Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":28,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0","max":"1","step":"0.01","x":1100,"y":2060,"wires":[["6ebd8049.31b2b"]]},{"id":"184f051f.4b018b","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["9bd2e9d3.a59528","cab67499.916428"],"x":1755,"y":2780,"wires":[]},{"id":"6538476d.d33698","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"f730e6b9.e57418","name":"Preview (OBS.Ninja)","order":2,"width":12,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":140,"wires":[[]]},{"id":"c8b31f6b.c0145","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"f730e6b9.e57418","name":"Program (OBS.Ninja)","order":25,"width":12,"height":7,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":340,"wires":[[]]},{"id":"641d4593.c8797c","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Advanced Password","rules":[{"t":"set","p":"advancedPassword","pt":"flow","to":"payload.AdvancedPassword","tot":"msg"},{"t":"delete","p":"payload.AdvancedPassword","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":620,"wires":[[]]},{"id":"166f2176.6bec5f","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":7,"width":7,"height":1,"name":"","label":"CPU Usage","format":"{{payload}}%","layout":"row-spread","x":970,"y":2400,"wires":[]},{"id":"9bd2e9d3.a59528","type":"link in","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","links":["184f051f.4b018b","b6ae9269.92836","4214d4dc.760b9c"],"x":55,"y":2640,"wires":[["4dbdd13.c7cab3","3ff83deb.8aee02","789c324.ae693cc","fdf260c6.2880d","1fd258f7.71ec77","635b6dc4.6acf54","e31cefc6.7e464","51433af5.033914","673b37f.1b5b0c8","be95699f.ffe308","87fcd21f.38ed8"]]},{"id":"4dbdd13.c7cab3","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"CPU Usage Round","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"cpu-usage\"]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2400,"wires":[["166f2176.6bec5f"]]},{"id":"ce46f6a2.d0d4c8","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":19,"width":7,"height":1,"name":"","label":"Free Disk Space","format":"{{payload}} GB","layout":"row-spread","x":960,"y":2440,"wires":[]},{"id":"3ff83deb.8aee02","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Disk Space Round","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"free-disk-space\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2440,"wires":[["9db7ecd8.75069"]]},{"id":"9db7ecd8.75069","type":"function","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","func":"msg.payload = msg.payload / 1000;\nmsg.payload = msg.payload - 5;\nmsg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2440,"wires":[["ce46f6a2.d0d4c8"]]},{"id":"be49d54.4a56228","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":13,"width":7,"height":1,"name":"","label":"Memory Usage","format":"{{payload}} MB","layout":"row-spread","x":960,"y":2480,"wires":[]},{"id":"789c324.ae693cc","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Memory Usage Round","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"memory-usage\"]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2480,"wires":[["be49d54.4a56228"]]},{"id":"9968d52a.71b1f8","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":15,"width":7,"height":1,"name":"","label":"FPS","format":"{{payload}}","layout":"row-spread","x":990,"y":2520,"wires":[]},{"id":"fdf260c6.2880d","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"FPS Round","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.fps","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2520,"wires":[["9968d52a.71b1f8"]]},{"id":"1fd258f7.71ec77","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Average Frame Time Round","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"average-frame-time\"]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2560,"wires":[["6af56d12.3f52f4"]]},{"id":"6af56d12.3f52f4","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":21,"width":7,"height":1,"name":"","label":"Average Frame Time","format":"{{payload}} ms","layout":"row-spread","x":940,"y":2560,"wires":[]},{"id":"7c394212.c061ac","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":8,"width":7,"height":1,"name":"","label":"Missed Frames","format":"{{payload[\"render-missed-frames\"]}} / {{payload[\"render-total-frames\"]}} ({{payload.percent}}%)","layout":"row-spread","x":960,"y":2600,"wires":[]},{"id":"fe857bd0.9439d8","type":"function","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","func":"msg.payload.percent = msg.payload[\"render-missed-frames\"] / msg.payload[\"render-total-frames\"];\nmsg.payload.percent = msg.payload.percent * 100;\nmsg.payload.percent = parseFloat(msg.payload.percent).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2600,"wires":[["96168cd8.d8266"]]},{"id":"635b6dc4.6acf54","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Missed Frames Round","rules":[{"t":"set","p":"payload.percent","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2600,"wires":[["fe857bd0.9439d8"]]},{"id":"c20486bf.f3b828","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":14,"width":7,"height":1,"name":"","label":"Skipped Frames","format":"{{payload[\"output-skipped-frames\"]}} / {{payload[\"output-total-frames\"]}} ({{payload.percent}}%)","layout":"row-spread","x":960,"y":2640,"wires":[]},{"id":"c228d8c7.2c9d68","type":"function","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","func":"msg.payload.percent = msg.payload[\"output-skipped-frames\"] / msg.payload[\"output-total-frames\"];\nmsg.payload.percent = msg.payload.percent * 100;\nmsg.payload.percent = parseFloat(msg.payload.percent).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2640,"wires":[["193d0070.f912a"]]},{"id":"e31cefc6.7e464","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Skipped Frames Round","rules":[{"t":"set","p":"payload.percent","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2640,"wires":[["c228d8c7.2c9d68"]]},{"id":"193d0070.f912a","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Change Percentage","rules":[{"t":"change","p":"payload.percent","pt":"msg","from":"NaN","fromt":"str","to":"0.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2640,"wires":[["c20486bf.f3b828"]]},{"id":"96168cd8.d8266","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Change Percentage","rules":[{"t":"change","p":"payload.percent","pt":"msg","from":"NaN","fromt":"str","to":"0.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2600,"wires":[["7c394212.c061ac"]]},{"id":"1841a52f.bc9abb","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Streaming Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.streaming","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2840,"wires":[["e297de77.b84ac","c8912496.dd5c48"]]},{"id":"f5a19cf7.f842b","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":16,"width":7,"height":1,"name":"","label":"Stream","format":"{{payload}}","layout":"row-spread","x":980,"y":2840,"wires":[]},{"id":"2b63258d.db720a","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Recording Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.recording","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2880,"wires":[["5f20d1e2.6c73d","90b15eee.7794a"]]},{"id":"ff60ee43.450fb","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":22,"width":7,"height":1,"name":"","label":"Recording","format":"{{payload}}","layout":"row-spread","x":970,"y":2880,"wires":[]},{"id":"a4e852e2.32fdd","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":20,"width":7,"height":1,"name":"","label":"Dropped Frames","format":"{{payload[\"num-dropped-frames\"]}} / {{payload[\"num-total-frames\"]}} ({{payload.percent}}%)","layout":"row-spread","x":950,"y":2680,"wires":[]},{"id":"8f8143a8.84248","type":"function","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","func":"msg.payload.percent = msg.payload[\"num-dropped-frames\"] / msg.payload[\"num-total-frames\"];\nmsg.payload.percent = msg.payload.percent * 100;\nmsg.payload.percent = parseFloat(msg.payload.percent).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2680,"wires":[["200957fe.767a48"]]},{"id":"51433af5.033914","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Dropped Frames Round","rules":[{"t":"set","p":"payload.percent","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2680,"wires":[["8f8143a8.84248"]]},{"id":"200957fe.767a48","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Change Percentage","rules":[{"t":"change","p":"payload.percent","pt":"msg","from":"NaN","fromt":"str","to":"0.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2680,"wires":[["a4e852e2.32fdd"]]},{"id":"be95699f.ffe308","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":9,"width":7,"height":1,"name":"","label":"Bitrate","format":"{{payload[\"kbits-per-sec\"]}} kb/s","layout":"row-spread","x":230,"y":2800,"wires":[]},{"id":"7f66133.cc29fec","type":"ui_chart","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Bitrate Chart","group":"c7e34ee2.e93ba","order":5,"width":5,"height":5,"label":"Bitrate","chartType":"line","legend":"false","xformat":"                        ","interpolate":"linear","nodata":"Blank","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":2720,"wires":[[]]},{"id":"673b37f.1b5b0c8","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Bitrate Convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"kbits-per-sec\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":2720,"wires":[["7f66133.cc29fec"]]},{"id":"2891f052.ffb3c","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<iframe src=\"https://player.twitch.tv/?channel={{{payload.MonitoringTwitchChannel}}}&enableExtensions=true&muted=false&parent={{{payload.DashboardURLParent}}}&player=popout&volume=1\" style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"570px\" width=\"1014px\" allowfullscreen></iframe>","output":"str","x":680,"y":500,"wires":[["d3c85f53.55908"]]},{"id":"d3c85f53.55908","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"c7e34ee2.e93ba","name":"Twitch Player","order":2,"width":19,"height":11,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":500,"wires":[[]]},{"id":"6213011.f2ae5","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"https://www.twitch.tv/embed/{{{payload.MonitoringTwitchChannel}}}/chat?parent=dashboard.nicnacnic.com\" style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"chat_embed\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"570px\" width=\"312px\" allowfullscreen></iframe>","output":"str","x":680,"y":540,"wires":[["fca45b5.36b5ba8"]]},{"id":"fca45b5.36b5ba8","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"c7e34ee2.e93ba","name":"Twitch Chat","order":3,"width":6,"height":11,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":540,"wires":[[]]},{"id":"5e56ca29.126974","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"c7e34ee2.e93ba","name":"Program (OBS.Ninja)","order":4,"width":5,"height":3,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":220,"wires":[[]]},{"id":"2da1186d.788948","type":"ui_template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","group":"c7e34ee2.e93ba","name":"Preview (OBS.Ninja)","order":1,"width":5,"height":3,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":180,"wires":[[]]},{"id":"2e5110bc.1fa5","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.OBSProgram}}} style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"145px\" width=\"258px\" allowfullscreen></iframe>","output":"str","x":680,"y":220,"wires":[["5e56ca29.126974"]]},{"id":"bf60c11.001454","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.OBSPreview}}} style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"145px\" width=\"258px\" allowfullscreen></iframe>","output":"str","x":680,"y":180,"wires":[["2da1186d.788948"]]},{"id":"836aef4e.18577","type":"ui_text","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","group":"c7e34ee2.e93ba","order":10,"width":7,"height":1,"name":"","label":"Stream Uptime","format":"{{payload}}","layout":"row-spread","x":960,"y":2760,"wires":[]},{"id":"87fcd21f.38ed8","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Stream Time Switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"total-stream-time\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2760,"wires":[["83e8bf0f.7917a"]]},{"id":"83e8bf0f.7917a","type":"function","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","func":" var totalNumberOfSeconds = msg.payload;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var totalHours = parseInt (totalNumberOfSeconds / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (totalHours < 10 ? \"0\" + totalHours : totalHours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2760,"wires":[["836aef4e.18577"]]},{"id":"bac4c37d.e693c","type":"ui_text_input","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","label":"Password","tooltip":"","group":"f730e6b9.e57418","order":3,"width":6,"height":1,"passthru":false,"mode":"password","delay":"1","topic":"","x":2360,"y":2500,"wires":[["8e2cf515.2e82f8"]]},{"id":"28b2a624.14db2a","type":"ui_button","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Start/End Stream","group":"f730e6b9.e57418","order":7,"width":12,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"{\"request-type\":\"StartStopStreaming\"}","payloadType":"json","topic":"websocket","x":1690,"y":2520,"wires":[["47751693.749038"]]},{"id":"648749ee.7e43b8","type":"link in","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["6432e10e.76102","6d4d0495.cf3f4c"],"x":1135,"y":2620,"wires":[["f77f463c.617108"]]},{"id":"c0a5010c.f1119","type":"inject","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"GetStreamingStatus","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1.5","topic":"","payload":"{     \"request-type\":\"GetStreamingStatus\" }","payloadType":"json","x":1740,"y":2400,"wires":[["8170acd9.b1726"]]},{"id":"6432e10e.76102","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["648749ee.7e43b8","d244139.1875ff"],"x":1755,"y":2880,"wires":[]},{"id":"8e988054.8fcb8","type":"ui_button","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Start/End Recording","group":"f730e6b9.e57418","order":10,"width":12,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"{\"request-type\":\"StartStopRecording\"}","payloadType":"json","topic":"websocket","x":1680,"y":2560,"wires":[["47751693.749038"]]},{"id":"d793dc7a.9bfcc","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload.muted","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1790,"y":2920,"wires":[["1b019326.5d89ed"],["5a9a1dcc.4cf4b4"]]},{"id":"3ec096d0.590c0a","type":"switch","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","property":"payload.sourceName","propertyType":"msg","rules":[{"t":"eq","v":"P1 Browser","vt":"str"},{"t":"eq","v":"P2 Browser","vt":"str"},{"t":"eq","v":"P3 Browser","vt":"str"},{"t":"eq","v":"P4 Browser","vt":"str"},{"t":"eq","v":"Discord","vt":"str"},{"t":"eq","v":"Music","vt":"str"},{"t":"eq","v":"AudioCustom1","vt":"flow"},{"t":"eq","v":"AudioCustom2","vt":"flow"},{"t":"eq","v":"AudioCustom3","vt":"flow"}],"checkall":"true","repair":false,"outputs":9,"x":170,"y":1940,"wires":[["4708d984.f50c88"],["df369b2f.9eaed8"],["6826f4ef.7b60cc"],["83f4a23d.e8d68"],["b699fae.1c2ce08"],["e2d77e1.436158"],["71565d4b.771574"],["b4df7bf6.00abf8"],["12a22530.71b4ab"]]},{"id":"f77f463c.617108","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"payload[\"update-type\"]","propertyType":"msg","rules":[{"t":"eq","v":"StreamStarted","vt":"str"},{"t":"eq","v":"StreamStopped","vt":"str"},{"t":"eq","v":"RecordingStarted","vt":"str"},{"t":"eq","v":"RecordingStopped","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1230,"y":2620,"wires":[["a4d946db.290c48"],["54e20c0f.336814"],["2eb593bd.ee8d2c"],["4cb5306e.7870c"]]},{"id":"a4d946db.290c48","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Stream Started Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Stop Streaming","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#581624","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":2520,"wires":[["28b2a624.14db2a"]]},{"id":"54e20c0f.336814","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Stream Stopped Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Start Streaming","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#1E1E1E","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2560,"wires":[["28b2a624.14db2a"]]},{"id":"2eb593bd.ee8d2c","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Recording Started Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Stop Recording","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#581624","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2600,"wires":[["8e988054.8fcb8"]]},{"id":"4cb5306e.7870c","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Recording Stopped Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Start Recording","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#1E1E1E","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":2640,"wires":[["8e988054.8fcb8"]]},{"id":"bd6137bf.05e9b8","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["2ecdcc06.4f9004","74e39a42.0fbd34","3fb0ad56.51b462"],"x":2175,"y":2940,"wires":[]},{"id":"c942bfb.7415a4","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"payload.streaming","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":2520,"wires":[["a4d946db.290c48"],["54e20c0f.336814"]]},{"id":"20e6df23.06505","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"payload.recording","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":2560,"wires":[["2eb593bd.ee8d2c"],["4cb5306e.7870c"]]},{"id":"2ecdcc06.4f9004","type":"link in","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["bd6137bf.05e9b8","f5437276.8915d"],"x":1135,"y":2540,"wires":[["c942bfb.7415a4","20e6df23.06505"]]},{"id":"47751693.749038","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"advancedPasswordMatch","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":2680,"wires":[["e85d2108.22f1a","69106e6c.d2757"],["8768fafc.983c58"]]},{"id":"4307b656.3ba858","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Clear Password Box","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"},{"t":"set","p":"advancedPasswordMatch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":2560,"wires":[["bac4c37d.e693c"]]},{"id":"8e2cf515.2e82f8","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"advancedPassword","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2250,"y":2420,"wires":[["660a0956.dc4f38"],["f3ef2037.9f61d"]]},{"id":"660a0956.dc4f38","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Variable","rules":[{"t":"set","p":"advancedPasswordMatch","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":2400,"wires":[[]]},{"id":"f3ef2037.9f61d","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Variable","rules":[{"t":"set","p":"advancedPasswordMatch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":2440,"wires":[[]]},{"id":"dd2a6891.c0ec08","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Websocket Password","rules":[{"t":"set","p":"websocketPassword","pt":"flow","to":"payload.WebsocketPassword","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[[]]},{"id":"2b2cc7bd.fb9818","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["eb272d57.e9b95"],"x":1685,"y":2780,"wires":[]},{"id":"87ea0db5.7c83b","type":"debug","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"Debug Complete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":2980,"wires":[]},{"id":"49eadbcb.0ea424","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1620,"wires":[["b91e452b.eec5a8"]]},{"id":"d84ec02c.c493c","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1660,"wires":[["1d87325a.c3ac8e"]]},{"id":"2d4f7d7a.a90d72","type":"json","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","property":"payload","action":"","pretty":false,"x":490,"y":380,"wires":[["e2e3acd3.cdf7f","bf60c11.001454","2e5110bc.1fa5","49823e7a.c0c05","c8d11eed.5ba16","45e15cab.38f004","272f1d0c.4334b2","2891f052.ffb3c","6213011.f2ae5","dd2a6891.c0ec08","641d4593.c8797c","42b51857.69f128","2fcf1ab.172afe6","1ad86828.ab3038","be7a8112.847de","2701ccba.d69c04","5a70c178.596e5"]]},{"id":"8fd500f6.19b95","type":"file in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Config File","filename":"RestreamDash\\RestreamerDashConfig.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":310,"y":380,"wires":[["2d4f7d7a.a90d72"]]},{"id":"272f1d0c.4334b2","type":"template","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"IFrame","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"{{{payload.NodeCGDashboardIP}}}/bundles/nodecg-speedcontrol/dashboard/twitch-control.html?standalone=true\" style=\"background-color: #2F3A4F; border:0px #ffffff none;\" name=\"myiFrame\" scrolling=\"no\" frameborder=\"0\" marginheight=\"0px\" marginwidth=\"0px\" height=\"600px\" width=\"420px\" allowfullscreen></iframe>","output":"str","x":680,"y":460,"wires":[["9664899e.1f8408"]]},{"id":"d1c5e699.cdf828","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Intermission","rules":[{"t":"set","p":"Intermission","pt":"flow","to":"payload.Scenes.Intermission","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":220,"wires":[[]]},{"id":"454cfdb3.965ab4","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Countdown","rules":[{"t":"set","p":"Countdown","pt":"flow","to":"payload.Scenes.Countdown","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":260,"wires":[[]]},{"id":"c07b2b73.bb8e28","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Blank Screen","rules":[{"t":"set","p":"BlankScreen","pt":"flow","to":"payload.Scenes.BlankScreen","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":340,"wires":[[]]},{"id":"f327fcec.2da9","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Tech Difficulties","rules":[{"t":"set","p":"TechDifficulty","pt":"flow","to":"payload.Scenes.TechDifficulty","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":380,"wires":[[]]},{"id":"f34598a5.870f28","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"4x3 1p","rules":[{"t":"set","p":"4x3_1p","pt":"flow","to":"payload.Scenes[\"4x3_1p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":420,"wires":[[]]},{"id":"fd650981.af0518","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"16x9 1p","rules":[{"t":"set","p":"16x9_1p","pt":"flow","to":"payload.Scenes[\"16x9_1p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":580,"wires":[[]]},{"id":"3bbfb355.08d5bc","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"4x3 2p","rules":[{"t":"set","p":"4x3_2p","pt":"flow","to":"payload.Scenes[\"4x3_2p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":460,"wires":[[]]},{"id":"d4213e0e.8755f","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"16x9 2p","rules":[{"t":"set","p":"16x9_2p","pt":"flow","to":"payload.Scenes[\"16x9_2p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":620,"wires":[[]]},{"id":"d7500bca.a9cd08","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"GB","rules":[{"t":"set","p":"GB","pt":"flow","to":"payload.Scenes.GB","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":160,"wires":[[]]},{"id":"4dbe1280.89c1dc","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"GBA","rules":[{"t":"set","p":"GBA","pt":"flow","to":"payload.Scenes.GBA","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":200,"wires":[[]]},{"id":"614348e9.417be8","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 1","rules":[{"t":"set","p":"Custom1","pt":"flow","to":"payload.Scenes.Custom1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":360,"wires":[[]]},{"id":"d908b9ec.12e178","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 1 Label","rules":[{"t":"set","p":"Custom1Name","pt":"flow","to":"payload.Scenes.Custom1Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":320,"wires":[[]]},{"id":"f4c01499.22b2f8","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 2","rules":[{"t":"set","p":"Custom2","pt":"flow","to":"payload.Scenes.Custom2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":440,"wires":[[]]},{"id":"8a695f4f.b9606","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 2 Label","rules":[{"t":"set","p":"Custom2Name","pt":"flow","to":"payload.Scenes.Custom2Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":400,"wires":[[]]},{"id":"627caa3a.494084","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 3","rules":[{"t":"set","p":"Custom3","pt":"flow","to":"payload.Scenes.Custom3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":520,"wires":[[]]},{"id":"51afb774.22bc68","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 3 Label","rules":[{"t":"set","p":"Custom3Name","pt":"flow","to":"payload.Scenes.Custom3Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":480,"wires":[[]]},{"id":"bebdf71b.1f2958","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 4","rules":[{"t":"set","p":"Custom4","pt":"flow","to":"payload.Scenes.Custom4","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":600,"wires":[[]]},{"id":"47877f51.e309b","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 4 Label","rules":[{"t":"set","p":"Custom4Name","pt":"flow","to":"payload.Scenes.Custom4Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":560,"wires":[[]]},{"id":"1be951c6.8b60ae","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 5","rules":[{"t":"set","p":"Custom5","pt":"flow","to":"payload.Scenes.Custom5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":680,"wires":[[]]},{"id":"720a2e5d.5653c","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 5 Label","rules":[{"t":"set","p":"Custom5Name","pt":"flow","to":"payload.Scenes.Custom5Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":640,"wires":[[]]},{"id":"42b51857.69f128","type":"link out","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","links":["d104e1c3.a69a2","c906aeb5.a536e","acb6f034.df60b","92802d9a.4b478"],"x":635,"y":60,"wires":[]},{"id":"d104e1c3.a69a2","type":"link in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","links":["42b51857.69f128"],"x":1055,"y":400,"wires":[["d1c5e699.cdf828","454cfdb3.965ab4","c07b2b73.bb8e28","f327fcec.2da9","f34598a5.870f28","fd650981.af0518","3bbfb355.08d5bc","1d33d319.3f7b4d","cac25ab0.6b9598","8c99ad5b.14627","8ec28249.bc128","32d28580.e7c1da","893f17a4.06b828","d4213e0e.8755f","7337361a.6bad58"]]},{"id":"c906aeb5.a536e","type":"link in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","links":["42b51857.69f128"],"x":1335,"y":400,"wires":[["d7500bca.a9cd08","4dbe1280.89c1dc","b1731566.b4ff38","902f7606.b431a8","d908b9ec.12e178","614348e9.417be8","8a695f4f.b9606","f4c01499.22b2f8","51afb774.22bc68","627caa3a.494084","bebdf71b.1f2958","720a2e5d.5653c","1be951c6.8b60ae","47877f51.e309b"]]},{"id":"cac25ab0.6b9598","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Transition","rules":[{"t":"set","p":"transition","pt":"flow","to":"payload.Transition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":140,"wires":[[]]},{"id":"1d33d319.3f7b4d","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Cut","rules":[{"t":"set","p":"cut","pt":"flow","to":"payload.Cut","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":180,"wires":[[]]},{"id":"2fcf1ab.172afe6","type":"debug","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Debug (Payload)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":620,"wires":[]},{"id":"fa5721d4.24746","type":"link in","z":"4c0216e9.207cb8","g":"f89da2d1.9bdea","name":"","links":["2751dbbc.3db6e4","d46b224b.8e789","37099789.2f2638","c313488.c9043b8","1ff710d.8b570ef","8170acd9.b1726","f057a919.c73068","7de2f6d8.7dad38","d9d0e03d.26c2a","ca7c4b76.588c08","190ea2ea.7fae6d","a3c4b0ce.27b3f"],"x":1135,"y":3180,"wires":[["1370f5bd.48d9ea"]]},{"id":"1370f5bd.48d9ea","type":"change","z":"4c0216e9.207cb8","g":"f89da2d1.9bdea","name":"","rules":[{"t":"set","p":"payload.message-id","pt":"msg","to":"_msgid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":3180,"wires":[["fa1bf7ec.972f38","8d0d832b.31c6b"]]},{"id":"7f0f012c.d234a","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"P1 Audio","rules":[{"t":"set","p":"P1Browser","pt":"flow","to":"payload.Audio.P1Audio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":200,"wires":[[]]},{"id":"723c4a3d.14d4c4","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"P2 Audio","rules":[{"t":"set","p":"P2Browser","pt":"flow","to":"payload.Audio.P2Audio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":240,"wires":[[]]},{"id":"742e08f2.c65cb8","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"P3 Audio","rules":[{"t":"set","p":"P3Browser","pt":"flow","to":"payload.Audio.P3Audio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":280,"wires":[[]]},{"id":"c312fb8a.3e61a8","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"P4 Audio","rules":[{"t":"set","p":"P4Browser","pt":"flow","to":"payload.Audio.P4Audio","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":320,"wires":[[]]},{"id":"2a053d3b.492692","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Discord","rules":[{"t":"set","p":"Discord","pt":"flow","to":"payload.Audio.Discord","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":360,"wires":[[]]},{"id":"d9437660.d04528","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Music","rules":[{"t":"set","p":"Music","pt":"flow","to":"payload.Audio.Music","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":400,"wires":[[]]},{"id":"de4bfe5a.3d4d2","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 1 Label","rules":[{"t":"set","p":"AudioCustom1Name","pt":"flow","to":"payload.Audio.Custom1Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":440,"wires":[[]]},{"id":"68bb5edf.feef4","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 1","rules":[{"t":"set","p":"AudioCustom1","pt":"flow","to":"payload.Audio.Custom1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":480,"wires":[[]]},{"id":"acb6f034.df60b","type":"link in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","links":["42b51857.69f128"],"x":1615,"y":400,"wires":[["7f0f012c.d234a","723c4a3d.14d4c4","742e08f2.c65cb8","c312fb8a.3e61a8","2a053d3b.492692","d9437660.d04528","de4bfe5a.3d4d2","68bb5edf.feef4","2289bdcd.e65852","9d863c27.d4e75","e7faccb2.022b2","4083d476.bdafec"]]},{"id":"2289bdcd.e65852","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 2 Label","rules":[{"t":"set","p":"AudioCustom2Name","pt":"flow","to":"payload.Audio.Custom2Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":520,"wires":[[]]},{"id":"9d863c27.d4e75","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 2","rules":[{"t":"set","p":"AudioCustom2","pt":"flow","to":"payload.Audio.Custom2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":560,"wires":[[]]},{"id":"e7faccb2.022b2","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 3 Label","rules":[{"t":"set","p":"AudioCustom3Name","pt":"flow","to":"payload.Audio.Custom3Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":600,"wires":[[]]},{"id":"4083d476.bdafec","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Custom 3","rules":[{"t":"set","p":"AudioCustom3","pt":"flow","to":"payload.Audio.Custom3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":640,"wires":[[]]},{"id":"c9b4e0dd.d1a28","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Custom 1 Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.AudioCustom1}}}\"\n}","output":"json","x":1660,"y":3620,"wires":[["c313488.c9043b8"]]},{"id":"9ac75e28.4594e","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Custom 2 Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.AudioCustom2}}}\"\n}","output":"json","x":1660,"y":3660,"wires":[["c313488.c9043b8"]]},{"id":"6a0de073.92e04","type":"template","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Custom 3 Get Volume","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\t\"request-type\": \"GetVolume\",\n\t\"source\": \"{{{flow.AudioCustom3}}}\"\n}","output":"json","x":1660,"y":3700,"wires":[["c313488.c9043b8"]]},{"id":"25d669ab.138896","type":"inject","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":1360,"y":3540,"wires":[["ec68fb1d.2958f8","9b7b7913.887b48","2b27a69b.8cdd2a","651a604.06b2aa","cc4efb17.13f958","bf3062a8.41369","c9b4e0dd.d1a28","9ac75e28.4594e","6a0de073.92e04"]]},{"id":"c313488.c9043b8","type":"link out","z":"4c0216e9.207cb8","g":"96893d09.ba41d","name":"","links":["64b3e3d2.8dfbac","fa5721d4.24746","8a7feda9.a1bde"],"x":1875,"y":3540,"wires":[]},{"id":"71b215ca.14cbfc","type":"link in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","links":["61e0b329.4cb9dc"],"x":155,"y":420,"wires":[["8fd500f6.19b95"]]},{"id":"1deaa58b.dcc2ea","type":"ui_button","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","group":"f730e6b9.e57418","order":22,"width":12,"height":1,"passthru":false,"label":"Reauthenticate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"reAuthenticate","x":1700,"y":2600,"wires":[["47751693.749038"]]},{"id":"e85d2108.22f1a","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"websocket","vt":"str"},{"t":"eq","v":"reAuthenticate","vt":"str"},{"t":"eq","v":"resetStats","vt":"str"},{"t":"eq","v":"autoRecord","vt":"str"},{"t":"eq","v":"openNodeCGDashboard","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1910,"y":2520,"wires":[["8170acd9.b1726"],["7001a599.df568c"],["b6ae9269.92836"],["4a7c88c0.dccf88"],["7f6ec2b2.0ba81c"]]},{"id":"1b019326.5d89ed","type":"change","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"Set Source Name","rules":[{"t":"set","p":"payload.sourceName","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2900,"wires":[["15f1c9ea.c36506","c21f7972.3aa898"]]},{"id":"c21f7972.3aa898","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["a6d2c1c0.04b81"],"x":2155,"y":2900,"wires":[]},{"id":"b72932dc.b83f3","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3260,"wires":[["6b849c1b.67b7c4"]]},{"id":"a7c9c1a6.5797b","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3300,"wires":[["5c9719c3.93e198"]]},{"id":"dd950f9b.0e546","type":"change","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Muted State","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.muted","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3340,"wires":[["662f4ea3.13727"]]},{"id":"6b849c1b.67b7c4","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Custom 1 Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":83,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":640,"y":3260,"wires":[["15a5927d.d8c33e"]]},{"id":"5c9719c3.93e198","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Custom 2 Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":84,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":640,"y":3300,"wires":[["42f8f6c3.9c7e08"]]},{"id":"662f4ea3.13727","type":"ui_switch","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"Custom 3 Toggle Mute","label":"","tooltip":"","group":"cc8e6402.3a5e78","order":85,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_off","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"volume_up","offcolor":"#F5F5F5","x":640,"y":3340,"wires":[["4bc39e39.f1ded"]]},{"id":"38ff8605.5698ba","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Custom 1 Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":30,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0","max":"1","step":"0.01","x":1110,"y":2140,"wires":[["be12cda7.7fb27"]]},{"id":"ab0e7bec.1229d8","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Custom 2 Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":32,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0","max":"1","step":"0.01","x":1110,"y":2220,"wires":[["6cba0378.bd93cc"]]},{"id":"93ec2400.a73448","type":"ui_slider","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Custom 3 Volume Slider","label":"{{msg.decibels}} dB","tooltip":"","group":"cc8e6402.3a5e78","order":34,"width":1,"height":5,"passthru":false,"outs":"all","topic":"","min":"0","max":"1","step":"0.01","x":1110,"y":2300,"wires":[["63b87aa.2004e84"]]},{"id":"675de4c0.17f01c","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.P2Browser}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":1740,"wires":[["1ff710d.8b570ef","2af99b2a.724684"]]},{"id":"97b58ec6.70b2e","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.P3Browser}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":1820,"wires":[["1ff710d.8b570ef","5081a49f.9dccdc"]]},{"id":"8619faee.5db788","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.P4Browser}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":1900,"wires":[["1ff710d.8b570ef","30edc33e.bbc5fc"]]},{"id":"25b5e869.0d7378","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.Discord}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":1980,"wires":[["1ff710d.8b570ef","b339b1dc.a1c87"]]},{"id":"e36c9481.9e4318","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.Music}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":2060,"wires":[["1ff710d.8b570ef","daa1e5f3.cf82d8"]]},{"id":"5b43213b.d939e","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.AudioCustom1}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":2140,"wires":[["1ff710d.8b570ef","eb1f87d8.5dd7a8"]]},{"id":"aa8b4a25.9ebbe8","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.AudioCustom2}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":2220,"wires":[["1ff710d.8b570ef","5f6a5781.a10bd8"]]},{"id":"2d32d3ba.c84dfc","type":"template","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"SetVolume\",\n    \"source\": \"{{{flow.AudioCustom3}}}\",\n    \"volume\": {{payload}}\n}","output":"json","x":1560,"y":2300,"wires":[["1ff710d.8b570ef","10155438.87280c"]]},{"id":"1ff710d.8b570ef","type":"link out","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"","links":["fa5721d4.24746","8a7feda9.a1bde"],"x":1735,"y":1620,"wires":[]},{"id":"b91e452b.eec5a8","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"P1BrowserStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":1660,"wires":[["589c236d.20315c"]]},{"id":"b261e415.4eb6e8","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":1660,"wires":[["d559bc18.7f1b1"]]},{"id":"6b120ec1.7042c","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P1BrowserStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1660,"wires":[["b261e415.4eb6e8","b91e452b.eec5a8"]]},{"id":"d559bc18.7f1b1","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P1BrowserStopSlider","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":1660,"wires":[["b91e452b.eec5a8"]]},{"id":"9ff33843.d1b7d8","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"P2BrowserStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":1740,"wires":[["fd00eee7.1732"]]},{"id":"998223a6.b782f","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"P3BrowserStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":1820,"wires":[["1a501599.d41dda"]]},{"id":"ba3a3578.dc20c8","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"P4BrowserStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":1900,"wires":[["416f5ab6.3216a4"]]},{"id":"ed1da59d.5e27b8","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"DiscordStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":1980,"wires":[["277edf55.96f1c"]]},{"id":"9987539d.a84a5","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"MusicStopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":2060,"wires":[["5e274b8d.754da4"]]},{"id":"29e576bb.d5902a","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"Custom1StopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":2140,"wires":[["38ff8605.5698ba"]]},{"id":"ca65c6f4.451208","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"Custom2StopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":2220,"wires":[["ab0e7bec.1229d8"]]},{"id":"4f73575a.97ba68","type":"gate","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Slider Changed","controlTopic":"Custom3StopSlider","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"x":860,"y":2300,"wires":[["93ec2400.a73448"]]},{"id":"4708d984.f50c88","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1620,"wires":[["49eadbcb.0ea424","f91f71e2.d0d6b"]]},{"id":"f91f71e2.d0d6b","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1660,"wires":[["589c236d.20315c"]]},{"id":"b1973c1f.4fff5","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1700,"wires":[["9ff33843.d1b7d8"]]},{"id":"df369b2f.9eaed8","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1700,"wires":[["b1973c1f.4fff5","e3832f1a.61fb6"]]},{"id":"e3832f1a.61fb6","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1740,"wires":[["fd00eee7.1732"]]},{"id":"fcd41780.c6a788","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1780,"wires":[["998223a6.b782f"]]},{"id":"6826f4ef.7b60cc","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1780,"wires":[["fcd41780.c6a788","e8980af8.ecafd8"]]},{"id":"e8980af8.ecafd8","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1820,"wires":[["1a501599.d41dda"]]},{"id":"75da83eb.52a0ac","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1860,"wires":[["ba3a3578.dc20c8"]]},{"id":"83f4a23d.e8d68","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1860,"wires":[["75da83eb.52a0ac","ae2e6eb0.523a3"]]},{"id":"ae2e6eb0.523a3","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1900,"wires":[["416f5ab6.3216a4"]]},{"id":"73d454bc.a9498c","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1940,"wires":[["ed1da59d.5e27b8"]]},{"id":"b699fae.1c2ce08","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1940,"wires":[["73d454bc.a9498c","5c321249.c397ec"]]},{"id":"5c321249.c397ec","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1980,"wires":[["277edf55.96f1c"]]},{"id":"a237ddeb.36bf8","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2020,"wires":[["9987539d.a84a5"]]},{"id":"e2d77e1.436158","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2020,"wires":[["a237ddeb.36bf8","315b2f3b.524b4"]]},{"id":"315b2f3b.524b4","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2060,"wires":[["5e274b8d.754da4"]]},{"id":"e5792db4.395c8","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2100,"wires":[["29e576bb.d5902a"]]},{"id":"71565d4b.771574","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2100,"wires":[["e5792db4.395c8","7079327.4a4c0cc"]]},{"id":"7079327.4a4c0cc","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2140,"wires":[["38ff8605.5698ba"]]},{"id":"49020a7f.5efc64","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2180,"wires":[["ca65c6f4.451208"]]},{"id":"b4df7bf6.00abf8","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2180,"wires":[["49020a7f.5efc64","b1ea0898.bc2598"]]},{"id":"b1ea0898.bc2598","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2220,"wires":[["ab0e7bec.1229d8"]]},{"id":"348a4464.49e12c","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"dB To Percent","func":"msg.payload = Math.pow(10, msg.payload / 50);\nmsg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2260,"wires":[["4f73575a.97ba68"]]},{"id":"12a22530.71b4ab","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"mul to dB","func":"msg.payload = 20 * Math.log10(msg.payload.volume);\nmsg.decibels = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2260,"wires":[["348a4464.49e12c","bf7dbf32.ec1d1"]]},{"id":"bf7dbf32.ec1d1","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Display dB","rules":[{"t":"change","p":"decibels","pt":"msg","from":"-Infinity","fromt":"str","to":"-inf","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2300,"wires":[["93ec2400.a73448"]]},{"id":"911f6a79.f02dd8","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1740,"wires":[["675de4c0.17f01c"]]},{"id":"82535358.e0ceb","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1820,"wires":[["97b58ec6.70b2e"]]},{"id":"49dc04b5.d68c1c","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1900,"wires":[["8619faee.5db788"]]},{"id":"3319992.7a25b66","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1980,"wires":[["25b5e869.0d7378"]]},{"id":"6ebd8049.31b2b","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2060,"wires":[["e36c9481.9e4318"]]},{"id":"be12cda7.7fb27","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2140,"wires":[["5b43213b.d939e"]]},{"id":"6cba0378.bd93cc","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2220,"wires":[["aa8b4a25.9ebbe8"]]},{"id":"63b87aa.2004e84","type":"function","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Percent To mul","func":"msg.payload = 20.0 * Math.log10(msg.payload);\nmsg.payload = Math.pow(10, -Math.abs(msg.payload / 10));\nmsg.payload = msg.payload.toFixed(2);\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2300,"wires":[["2d32d3ba.c84dfc"]]},{"id":"b80ce3a5.62978","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":1740,"wires":[["58ac0f95.59d0c"]]},{"id":"2af99b2a.724684","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P2BrowserStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1740,"wires":[["b80ce3a5.62978","9ff33843.d1b7d8"]]},{"id":"58ac0f95.59d0c","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P2BrowserStopSlider","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":1740,"wires":[["9ff33843.d1b7d8"]]},{"id":"5436a40.df2595c","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":1820,"wires":[["5c325614.853228"]]},{"id":"5081a49f.9dccdc","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P3BrowserStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1820,"wires":[["5436a40.df2595c","998223a6.b782f"]]},{"id":"5c325614.853228","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":1820,"wires":[["998223a6.b782f"]]},{"id":"f2299bfd.42b4d8","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":1900,"wires":[["97c5dcaa.6c042"]]},{"id":"30edc33e.bbc5fc","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"P4BrowserStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1900,"wires":[["f2299bfd.42b4d8","ba3a3578.dc20c8"]]},{"id":"97c5dcaa.6c042","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":1900,"wires":[["ba3a3578.dc20c8"]]},{"id":"cad6c2dc.32473","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":1980,"wires":[["e7d8c13c.8745"]]},{"id":"b339b1dc.a1c87","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"DiscordStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":1980,"wires":[["cad6c2dc.32473","ed1da59d.5e27b8"]]},{"id":"e7d8c13c.8745","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":1980,"wires":[["ed1da59d.5e27b8"]]},{"id":"c4ac2720.d64ee8","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":2060,"wires":[["29b8e670.409e2a"]]},{"id":"daa1e5f3.cf82d8","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"MusicStopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2060,"wires":[["c4ac2720.d64ee8","9987539d.a84a5"]]},{"id":"29b8e670.409e2a","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2060,"wires":[["9987539d.a84a5"]]},{"id":"2e8319bc.064426","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":2140,"wires":[["16fe71a7.ae1bee"]]},{"id":"eb1f87d8.5dd7a8","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Custom1StopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2140,"wires":[["2e8319bc.064426","29e576bb.d5902a"]]},{"id":"16fe71a7.ae1bee","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2140,"wires":[["29e576bb.d5902a"]]},{"id":"891452ea.62a07","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":2220,"wires":[["330395cb.c8f37a"]]},{"id":"5f6a5781.a10bd8","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Custom2StopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2220,"wires":[["891452ea.62a07","ca65c6f4.451208"]]},{"id":"330395cb.c8f37a","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2220,"wires":[["ca65c6f4.451208"]]},{"id":"38dd5aaa.308056","type":"delay","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Variable","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2020,"y":2300,"wires":[["fdfcffaa.6bcda"]]},{"id":"10155438.87280c","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Close Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Custom3StopSlider","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":2300,"wires":[["38dd5aaa.308056","4f73575a.97ba68"]]},{"id":"fdfcffaa.6bcda","type":"change","z":"4c0216e9.207cb8","g":"e916d6b9.86f578","name":"Open Gate","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2300,"wires":[["4f73575a.97ba68"]]},{"id":"8170acd9.b1726","type":"link out","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["fa5721d4.24746"],"x":2055,"y":2400,"wires":[]},{"id":"f057a919.c73068","type":"link out","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","links":["fa5721d4.24746","8a7feda9.a1bde"],"x":1035,"y":3180,"wires":[]},{"id":"7710660c.f7a658","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.P1Browser}}}\"}","output":"json","x":860,"y":3020,"wires":[["f057a919.c73068"]]},{"id":"7ef1f5f3.ee00bc","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.P2Browser}}}\"}","output":"json","x":860,"y":3060,"wires":[["f057a919.c73068"]]},{"id":"cdb00f88.d5812","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.P3Browser}}}\"}","output":"json","x":860,"y":3100,"wires":[["f057a919.c73068"]]},{"id":"5184b9c6.38af98","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.P4Browser}}}\"}","output":"json","x":860,"y":3140,"wires":[["f057a919.c73068"]]},{"id":"1de07d04.8b2a03","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.Discord}}}\"}","output":"json","x":860,"y":3180,"wires":[["f057a919.c73068"]]},{"id":"3632cef5.762532","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.Music}}}\"}","output":"json","x":860,"y":3220,"wires":[["f057a919.c73068"]]},{"id":"15a5927d.d8c33e","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.AudioCustom1}}}\"}","output":"json","x":860,"y":3260,"wires":[["f057a919.c73068"]]},{"id":"42f8f6c3.9c7e08","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.AudioCustom2}}}\"}","output":"json","x":860,"y":3300,"wires":[["f057a919.c73068"]]},{"id":"4bc39e39.f1ded","type":"template","z":"4c0216e9.207cb8","g":"f2bc3316.a0857","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"ToggleMute\",\"source\":\"{{{flow.AudioCustom3}}}\"}","output":"json","x":860,"y":3340,"wires":[["f057a919.c73068"]]},{"id":"1ad86828.ab3038","type":"debug","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Debug (Full)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":660,"wires":[]},{"id":"98d22393.fb27e","type":"ui_button","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","group":"f730e6b9.e57418","order":16,"width":12,"height":1,"passthru":false,"label":"Reset Stats","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"average-frame-time\":0,\"bytes-per-sec\":0,\"cpu-usage\":0,\"fps\":0,\"free-disk-space\":5005,\"kbits-per-sec\":0,\"memory-usage\":0,\"num-dropped-frames\":0,\"num-total-frames\":0,\"output-skipped-frames\":0,\"output-total-frames\":0,\"preview-only\":false,\"recording\":false,\"recording-paused\":false,\"render-missed-frames\":0,\"render-total-frames\":0,\"replay-buffer-active\":false,\"strain\":0,\"stream-timecode\":\"00:00:00.000\",\"streaming\":false,\"total-stream-time\":0,\"update-type\":\"StreamStatus\"}","payloadType":"json","topic":"resetStats","x":1710,"y":2640,"wires":[["47751693.749038"]]},{"id":"b6ae9269.92836","type":"link out","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["9bd2e9d3.a59528","cab67499.916428"],"x":2015,"y":2520,"wires":[]},{"id":"5a9a1dcc.4cf4b4","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload.streaming","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":2940,"wires":[["bd6137bf.05e9b8"],["c352cbba.024c88"]]},{"id":"fd3818ab.07a708","type":"debug","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2370,"y":2980,"wires":[]},{"id":"eb272d57.e9b95","type":"link in","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"","links":["9bc8979b.da1ed8","2b2cc7bd.fb9818"],"x":1135,"y":3080,"wires":[["cf2f7c5e.7eee7"]]},{"id":"7de2f6d8.7dad38","type":"link out","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"","links":["fa5721d4.24746"],"x":2135,"y":3080,"wires":[]},{"id":"cf2f7c5e.7eee7","type":"function","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"Variable","func":"msg.password = msg.payload[\"message-id\"];\nmsg.salt = msg.payload.salt;\nmsg.challenge = msg.payload.challenge;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":3080,"wires":[["6f0ac41a.c3bb7c"]]},{"id":"6f0ac41a.c3bb7c","type":"function","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"Authenticate","func":"var CryptoJS = context.global.cryptojs;\n\nvar secret_hash = CryptoJS.SHA256(msg.password + msg.salt);\nvar secret = CryptoJS.enc.Base64.stringify(secret_hash);\n\nvar auth_response_hash = CryptoJS.SHA256(secret + msg.challenge);\nvar auth_response = CryptoJS.enc.Base64.stringify(auth_response_hash);\n\nmsg.payload = auth_response;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":3080,"wires":[["9907d5a9.5cddb8"]]},{"id":"e2af0bfa.bd4588","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload.authRequired","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1460,"y":2860,"wires":[["78c2fb30.714934"],["a620ad3c.e9f31"]]},{"id":"c77471d7.6c979","type":"inject","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"GetAuthRequired","props":[{"p":"payload"},{"p":"_msgid","v":"websocketPassword","vt":"flow"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"{\"request-type\":\"GetAuthRequired\"}","payloadType":"json","x":1750,"y":2440,"wires":[["8170acd9.b1726"]]},{"id":"5bc476a4.700018","type":"websocket in","z":"4c0216e9.207cb8","g":"c187809d.df517","name":"Websocket In","server":"","client":"3ea1fb6.7371a04","x":170,"y":160,"wires":[["8b60f06f.d4fc9"]]},{"id":"8d75cc3f.42b96","type":"websocket out","z":"4c0216e9.207cb8","g":"c187809d.df517","name":"Websocket Out","server":"","client":"3ea1fb6.7371a04","x":260,"y":100,"wires":[]},{"id":"78c2fb30.714934","type":"rbe","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload[\"message-id\"]","x":1560,"y":2780,"wires":[["2b2cc7bd.fb9818"]]},{"id":"ed00b534.5b8068","type":"template","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"Authenticate\",\n    \"auth\": \"{{{payload}}}\"\n}","output":"json","x":1800,"y":3080,"wires":[["680c3e8e.2dbde"]]},{"id":"9907d5a9.5cddb8","type":"change","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"Delete","rules":[{"t":"delete","p":"challenge","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"},{"t":"delete","p":"password","pt":"msg"},{"t":"delete","p":"salt","pt":"msg"},{"t":"delete","p":"id","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":3080,"wires":[["ed00b534.5b8068"]]},{"id":"dbe7510d.cd985","type":"link in","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["8b60f06f.d4fc9"],"x":1145,"y":2900,"wires":[["f51c1ab8.d2fb28"]]},{"id":"d37803f.f50d5","type":"link out","z":"4c0216e9.207cb8","g":"f89da2d1.9bdea","name":"","links":["af358164.1ee9f"],"x":1675,"y":3180,"wires":[]},{"id":"af358164.1ee9f","type":"link in","z":"4c0216e9.207cb8","g":"c187809d.df517","name":"","links":["d37803f.f50d5"],"x":95,"y":100,"wires":[["8d75cc3f.42b96"]]},{"id":"8b60f06f.d4fc9","type":"link out","z":"4c0216e9.207cb8","g":"c187809d.df517","name":"","links":["dbe7510d.cd985"],"x":315,"y":160,"wires":[]},{"id":"680c3e8e.2dbde","type":"change","z":"4c0216e9.207cb8","g":"1e86db88.fcb334","name":"Message ID","rules":[{"t":"set","p":"_msgid","pt":"msg","to":"authStatus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":3080,"wires":[["7de2f6d8.7dad38"]]},{"id":"9c10d75e.1d0498","type":"ui_text","z":"4c0216e9.207cb8","g":"149d213a.106a4f","group":"f730e6b9.e57418","order":26,"width":12,"height":1,"name":"Auth Status","label":"Websocket Status","format":"{{payload}}","layout":"row-spread","x":1530,"y":2440,"wires":[]},{"id":"d1b16dc9.b9f9e","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload[\"message-id\"]","propertyType":"msg","rules":[{"t":"eq","v":"authStatus","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2210,"y":2980,"wires":[["3f2a7861.a04b68"],["fd3818ab.07a708"]]},{"id":"3f2a7861.a04b68","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["e36cc7c5.d14ac8"],"x":2335,"y":2940,"wires":[]},{"id":"e36cc7c5.d14ac8","type":"link in","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["3f2a7861.a04b68"],"x":1135,"y":2420,"wires":[["606c05d4.89666c"]]},{"id":"d695d944.d14668","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.error","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"auth not specified!","fromt":"str","to":"Disconnected (Internal Error)","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Authentication Failed.","fromt":"str","to":"Disconnected (Authentication Failed)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":2400,"wires":[["9c10d75e.1d0498"]]},{"id":"1642dd49.986463","type":"ui_text","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","group":"cc8e6402.3a5e78","order":95,"width":3,"height":1,"name":"Custom 2 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":520,"y":4020,"wires":[]},{"id":"93dd811b.93a7d","type":"ui_text","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","group":"cc8e6402.3a5e78","order":94,"width":3,"height":1,"name":"Custom 1 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":520,"y":3980,"wires":[]},{"id":"2b0f8f92.7f9ac","type":"ui_text","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","group":"cc8e6402.3a5e78","order":96,"width":3,"height":1,"name":"Custom 3 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":520,"y":4060,"wires":[]},{"id":"a0825b0f.b0a2d8","type":"ui_text","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","group":"cc8e6402.3a5e78","order":92,"width":3,"height":1,"name":"Discord Audio Text","label":"Discord","format":"","layout":"col-center","x":510,"y":3900,"wires":[]},{"id":"64837d16.3518f4","type":"ui_text","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","group":"cc8e6402.3a5e78","order":93,"width":3,"height":1,"name":"Music Audio Text","label":"Music","format":"","layout":"col-center","x":510,"y":3940,"wires":[]},{"id":"18fb241e.592dbc","type":"change","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"AudioCustom1Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":3980,"wires":[["93dd811b.93a7d"]]},{"id":"47051bd3.0179c4","type":"change","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"AudioCustom2Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":4020,"wires":[["1642dd49.986463"]]},{"id":"a75ed99.7874528","type":"change","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"AudioCustom3Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":4060,"wires":[["2b0f8f92.7f9ac"]]},{"id":"3f17b69f.aea23a","type":"inject","z":"4c0216e9.207cb8","g":"3caee3bd.3c1cac","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":120,"y":4020,"wires":[["18fb241e.592dbc","47051bd3.0179c4","a75ed99.7874528"]]},{"id":"9d094f5c.e7ee7","type":"ui_ui_control","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","events":"change","x":120,"y":340,"wires":[["8fd500f6.19b95"]]},{"id":"be7a8112.847de","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"RTMP Check","rules":[{"t":"set","p":"UseRTMP","pt":"flow","to":"payload.UseRTMP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[[]]},{"id":"8c99ad5b.14627","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Interview","rules":[{"t":"set","p":"Interview","pt":"flow","to":"payload.Scenes.Interview","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":300,"wires":[[]]},{"id":"b1731566.b4ff38","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"DS","rules":[{"t":"set","p":"DS","pt":"flow","to":"payload.Scenes.DS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":240,"wires":[[]]},{"id":"cb5f0d.519870f","type":"ui_text","z":"4c0216e9.207cb8","g":"cba90f1a.73737","group":"8ccdea1b.541ad8","order":20,"width":3,"height":1,"name":"4x3 Label","label":"4x3","format":"","layout":"col-center","x":1120,"y":1520,"wires":[]},{"id":"fee18c6a.27e95","type":"ui_text","z":"4c0216e9.207cb8","g":"cba90f1a.73737","group":"8ccdea1b.541ad8","order":21,"width":3,"height":1,"name":"16x9 Label","label":"16x9","format":"","layout":"col-center","x":1270,"y":1520,"wires":[]},{"id":"f13b3f20.b8e73","type":"ui_text","z":"4c0216e9.207cb8","g":"cba90f1a.73737","group":"8ccdea1b.541ad8","order":22,"width":3,"height":1,"name":"Nintendo Label","label":"Nintendo","format":"","layout":"col-center","x":1440,"y":1520,"wires":[]},{"id":"51b1f41d.e9c56c","type":"ui_text","z":"4c0216e9.207cb8","g":"cba90f1a.73737","group":"8ccdea1b.541ad8","order":43,"width":4,"height":1,"name":"Custom Label","label":"Custom","format":"","layout":"col-center","x":1780,"y":1520,"wires":[]},{"id":"d48dce6f.0814c","type":"ui_text","z":"4c0216e9.207cb8","g":"cba90f1a.73737","group":"8ccdea1b.541ad8","order":23,"width":3,"height":1,"name":"Other Label","label":"Other","format":"","layout":"col-center","x":1610,"y":1520,"wires":[]},{"id":"c352cbba.024c88","type":"switch","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","property":"payload.recording","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2070,"y":2960,"wires":[["bd6137bf.05e9b8"],["d1b16dc9.b9f9e"]]},{"id":"8768fafc.983c58","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Incorrect Password!","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"3000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":2680,"wires":[["a77bc1f1.5b34d","b6e0437e.53e19","4307b656.3ba858"]]},{"id":"69106e6c.d2757","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Request Sent","tot":"str"},{"t":"set","p":"delay","pt":"msg","to":"3000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":2640,"wires":[["a77bc1f1.5b34d","b6e0437e.53e19","4307b656.3ba858"]]},{"id":"f7a7733a.7a202","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Password Not Entered","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2360,"y":2680,"wires":[["a77bc1f1.5b34d"]]},{"id":"a77bc1f1.5b34d","type":"ui_text","z":"4c0216e9.207cb8","g":"149d213a.106a4f","group":"f730e6b9.e57418","order":4,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":2370,"y":2620,"wires":[]},{"id":"b6e0437e.53e19","type":"delay","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Timer","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2210,"y":2680,"wires":[["f7a7733a.7a202"]]},{"id":"21d1284e.713af8","type":"inject","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":2120,"y":2580,"wires":[["f7a7733a.7a202"]]},{"id":"7f769ad9.920494","type":"ui_button","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record","group":"f730e6b9.e57418","order":13,"width":12,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"autoRecord","x":750,"y":3460,"wires":[["5a4f81f8.f23bb"]]},{"id":"e57cd139.0ea24","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"autoRecord","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":3460,"wires":[["8e718a83.72a108"],["316bffd8.efe4"]]},{"id":"316bffd8.efe4","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record Off Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Turn On Auto Record","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#1E1E1E","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3480,"wires":[["7f769ad9.920494"]]},{"id":"8e718a83.72a108","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record On Switch","rules":[{"t":"set","p":"label","pt":"msg","to":"Turn Off Auto Record","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#581624","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":3440,"wires":[["7f769ad9.920494"]]},{"id":"8ace12ee.b132a","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"autoRecord","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3520,"wires":[["bfd08503.8da838"],["79463f33.ff7eb"]]},{"id":"bfd08503.8da838","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record Off","rules":[{"t":"set","p":"autoRecord","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3500,"wires":[[]]},{"id":"79463f33.ff7eb","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record On","rules":[{"t":"set","p":"autoRecord","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":3540,"wires":[[]]},{"id":"1cd2fc7.75b4f04","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Auto Record","rules":[{"t":"set","p":"autoRecord","pt":"flow","to":"payload.AutoRecord","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":780,"wires":[[]]},{"id":"ed925e2d.b6997","type":"ui_button","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Emergency Transition","group":"8ccdea1b.541ad8","order":13,"width":6,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":3700,"wires":[["cda87dc3.130ee"]]},{"id":"6e88fee3.77da5","type":"template","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Transition","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\":\"TransitionToProgram\",\n    \"with-transition\":\"{{{flow.transition}}}\"\n}","output":"json","x":1020,"y":3680,"wires":[["d9d0e03d.26c2a"]]},{"id":"676cb3ab.2ca9cc","type":"link out","z":"4c0216e9.207cb8","g":"5a236024.b2506","name":"","links":["e649329a.9bc83"],"x":1815,"y":2840,"wires":[]},{"id":"e649329a.9bc83","type":"link in","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","links":["676cb3ab.2ca9cc"],"x":55,"y":3560,"wires":[["ff247e9c.0b6a7"]]},{"id":"ef10a54f.951888","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"payload[\"to-scene\"]","propertyType":"msg","rules":[{"t":"eq","v":"Intermission","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":3640,"wires":[["78166f0b.6f217"]]},{"id":"ff247e9c.0b6a7","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"payload[\"from-scene\"]","propertyType":"msg","rules":[{"t":"eq","v":"Intermission","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":3560,"wires":[["34918564.f0a72a"],["ef10a54f.951888"]]},{"id":"d9d0e03d.26c2a","type":"link out","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","links":["fa5721d4.24746"],"x":1155,"y":3660,"wires":[]},{"id":"47110598.98f4ac","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"autoRecord","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":3600,"wires":[["9e7bcfde.48d5c"]]},{"id":"22e7c3e6.d4b4dc","type":"inject","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Refresh","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","x":120,"y":3460,"wires":[["e57cd139.0ea24","3863ccc.808be34"]]},{"id":"2f112470.4f726c","type":"inject","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","x":1200,"y":740,"wires":[["e5338124.cc216"]]},{"id":"e5338124.cc216","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Continue Recording","rules":[{"t":"set","p":"continueRecording","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"emergencyTransition","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":740,"wires":[[]]},{"id":"9cb23e2e.d4acd","type":"template","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Stop Recording","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"StopRecording\"\n}","output":"json","x":1000,"y":3640,"wires":[["d9d0e03d.26c2a"]]},{"id":"9e7bcfde.48d5c","type":"template","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Start Recording","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\": \"StartRecording\"\n}","output":"json","x":1000,"y":3600,"wires":[["d9d0e03d.26c2a"]]},{"id":"d632c0c6.e1ac5","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"_session","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":3600,"wires":[["47110598.98f4ac"]]},{"id":"4daf44b5.080d5c","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"_session","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":3640,"wires":[["bceeea9d.1b4ac8"]]},{"id":"f3f157fd.3adda8","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Emergency Transition","rules":[{"t":"set","p":"emergencyTransition","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3700,"wires":[["76fee0ad.79325","cad74338.1bdff"]]},{"id":"76fee0ad.79325","type":"template","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\":\"SetPreviewScene\",\n    \"scene-name\":\"{{{flow.Intermission}}}\"\n}","output":"json","x":1020,"y":3720,"wires":[["d9d0e03d.26c2a"]]},{"id":"cad74338.1bdff","type":"delay","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Delay","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":3680,"wires":[["6e88fee3.77da5"]]},{"id":"cda87dc3.130ee","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"emergencyTransition","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":3700,"wires":[["f3f157fd.3adda8"]]},{"id":"c8d60bbd.e2ce98","type":"inject","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Refresh","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":440,"y":3780,"wires":[["c1d0c4cd.8d36b8"]]},{"id":"c1d0c4cd.8d36b8","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"emergencyTransition","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":3780,"wires":[["64f5a82d.090a78"],["7a67798b.06ad18"]]},{"id":"7a67798b.06ad18","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Emergency On","rules":[{"t":"set","p":"label","pt":"msg","to":"Emergency Transition","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3800,"wires":[["ed925e2d.b6997"]]},{"id":"64f5a82d.090a78","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Emergency Off","rules":[{"t":"set","p":"label","pt":"msg","to":"Disabled","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#616161","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3760,"wires":[["ed925e2d.b6997"]]},{"id":"e5050b78.1103c8","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Emergency Transition","rules":[{"t":"set","p":"emergencyTransition","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3560,"wires":[[]]},{"id":"34918564.f0a72a","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"emergencyTransition","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":3600,"wires":[["d632c0c6.e1ac5","e5050b78.1103c8"],["d632c0c6.e1ac5"]]},{"id":"78166f0b.6f217","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"emergencyTransition","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":3640,"wires":[["4daf44b5.080d5c"]]},{"id":"bceeea9d.1b4ac8","type":"switch","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","property":"autoRecord","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":3640,"wires":[["9cb23e2e.d4acd"]]},{"id":"66a1c59b.c685ec","type":"file in","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"Config File","filename":"RestreamDash\\RestreamerDashConfig.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":330,"y":780,"wires":[["220e6a4f.5e84f6"]]},{"id":"220e6a4f.5e84f6","type":"json","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"","property":"payload","action":"","pretty":false,"x":510,"y":780,"wires":[["1cd2fc7.75b4f04"]]},{"id":"3863ccc.808be34","type":"change","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"Auto Record Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"autoRecord","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"On","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":3520,"wires":[["d5ea09e0.f2e348"]]},{"id":"d5ea09e0.f2e348","type":"ui_text","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","group":"8ccdea1b.541ad8","order":16,"width":6,"height":1,"name":"Auto Record","label":"Auto Record","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":3520,"wires":[]},{"id":"e297de77.b84ac","type":"ui_switch","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Stream","label":"","tooltip":"","group":"8ccdea1b.541ad8","order":3,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"surround_sound","oncolor":"#6DC013","offvalue":"false","offvalueType":"bool","officon":"surround_sound","offcolor":"#F5F5F5","x":980,"y":2800,"wires":[[]]},{"id":"5f20d1e2.6c73d","type":"ui_switch","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Recording","label":"","tooltip":"","group":"8ccdea1b.541ad8","order":4,"width":1,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fiber_manual_record","oncolor":"#D40000","offvalue":"false","offvalueType":"bool","officon":"fiber_manual_record","offcolor":"#F5F5F5","x":970,"y":2920,"wires":[[]]},{"id":"5a4f81f8.f23bb","type":"link out","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","links":["f9d53239.14346"],"x":895,"y":3460,"wires":[]},{"id":"364b5780.57f258","type":"link in","z":"4c0216e9.207cb8","g":"b3fbbfe8.5aabf","name":"","links":["4a7c88c0.dccf88"],"x":815,"y":3520,"wires":[["8ace12ee.b132a"]]},{"id":"f9d53239.14346","type":"link in","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["5a4f81f8.f23bb"],"x":1755,"y":2480,"wires":[["47751693.749038"]]},{"id":"4a7c88c0.dccf88","type":"link out","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["364b5780.57f258"],"x":2015,"y":2560,"wires":[]},{"id":"8d0d832b.31c6b","type":"debug","z":"4c0216e9.207cb8","g":"f89da2d1.9bdea","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":3180,"wires":[]},{"id":"74e39a42.0fbd34","type":"link in","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"","links":["bd6137bf.05e9b8"],"x":55,"y":2860,"wires":[["1841a52f.bc9abb","2b63258d.db720a"]]},{"id":"c8912496.dd5c48","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Streaming Switch","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"LIVE","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Inactive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2840,"wires":[["f5a19cf7.f842b"]]},{"id":"90b15eee.7794a","type":"change","z":"4c0216e9.207cb8","g":"785d3bbd.c20374","name":"Recording Switch","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Recording","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Inactive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":2880,"wires":[["ff60ee43.450fb"]]},{"id":"27be6a29.535026","type":"inject","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Value","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1230,"y":2480,"wires":[["79654e9d.1015f"]]},{"id":"606c05d4.89666c","type":"switch","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":2420,"wires":[["d695d944.d14668"],["d00a481f.2169d8"]]},{"id":"d00a481f.2169d8","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":2440,"wires":[["9c10d75e.1d0498"]]},{"id":"7001a599.df568c","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"GetAuthRequired","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"request-type\":\"GetAuthRequired\"}","tot":"json"},{"t":"set","p":"_msgid","pt":"msg","to":"websocketPassword","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":2480,"wires":[["8170acd9.b1726","79654e9d.1015f"]]},{"id":"79654e9d.1015f","type":"change","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connecting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":2480,"wires":[["9c10d75e.1d0498"]]},{"id":"ae050663.7aadb8","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Label","rules":[{"t":"set","p":"payload","pt":"msg","to":"Player 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":880,"wires":[["6b55cfcf.486ec"]]},{"id":"22096dcc.5a6bb2","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":900,"wires":[["ae050663.7aadb8"],["6b55cfcf.486ec"]]},{"id":"6b55cfcf.486ec","type":"ui_text","z":"4c0216e9.207cb8","g":"cd4202df.24e56","group":"cc8e6402.3a5e78","order":88,"width":3,"height":1,"name":"Player 1 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":1770,"y":900,"wires":[]},{"id":"61e48591.cc7d2c","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":1020,"wires":[["f5b606ac.f44388"],["5aac0f9e.a2e15"]]},{"id":"f5b606ac.f44388","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Label","rules":[{"t":"set","p":"payload","pt":"msg","to":"Player 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1000,"wires":[["5aac0f9e.a2e15"]]},{"id":"5aac0f9e.a2e15","type":"ui_text","z":"4c0216e9.207cb8","g":"cd4202df.24e56","group":"cc8e6402.3a5e78","order":90,"width":3,"height":1,"name":"Player 3 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":1770,"y":1020,"wires":[]},{"id":"6e870f83.cc1b4","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":1080,"wires":[["17dd2848.d48778"],["71e30612.0057e8"]]},{"id":"17dd2848.d48778","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Label","rules":[{"t":"set","p":"payload","pt":"msg","to":"Player 4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1060,"wires":[["71e30612.0057e8"]]},{"id":"71e30612.0057e8","type":"ui_text","z":"4c0216e9.207cb8","g":"cd4202df.24e56","group":"cc8e6402.3a5e78","order":91,"width":3,"height":1,"name":"Player 4 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":1770,"y":1080,"wires":[]},{"id":"d35ebc41.a1496","type":"ui_text_input","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","label":"Player 4","tooltip":"","group":"8ccdea1b.541ad8","order":65,"width":3,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1140,"y":1260,"wires":[["17522b47.d9e6f5"]]},{"id":"3e492a42.e51b26","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P4 Browser\",\"sourceSettings\":{\"url\":\"https://player.twitch.tv/?parent=BLAH&volume=1&!muted&channel={{{payload}}}{{{quality}}}\"}}","output":"json","x":1860,"y":1420,"wires":[["37099789.2f2638"]]},{"id":"f0f1c23b.db53b","type":"ui_button","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Update","group":"8ccdea1b.541ad8","order":71,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"check","payload":"","payloadType":"str","topic":"","x":1320,"y":1340,"wires":[["355c32a5.5504ae","a7e5851.d623178","96208752.6fc3d8","2f516166.f08f6e"]]},{"id":"1bba21aa.e9a33e","type":"ui_ui_control","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","events":"all","x":1120,"y":1420,"wires":[["f0f1c23b.db53b","1ada97f8.80c1f8"]]},{"id":"22df33ec.4eae8c","type":"ui_text_input","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","label":"Player 3","tooltip":"","group":"8ccdea1b.541ad8","order":64,"width":3,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1140,"y":1220,"wires":[["704b1a20.58f004"]]},{"id":"ffc87851.964478","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P3 Browser\",\"sourceSettings\":{\"url\":\"https://player.twitch.tv/?parent=BLAH&volume=1&!muted&channel={{{payload}}}{{{quality}}}\"}}","output":"json","x":1860,"y":1340,"wires":[["37099789.2f2638"]]},{"id":"4280e93f.ed1778","type":"ui_text_input","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","label":"Player 2","tooltip":"Twitch Name","group":"8ccdea1b.541ad8","order":61,"width":3,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1140,"y":1180,"wires":[["c461f7c3.02cca8"]]},{"id":"a88e6e2b.e4b57","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P2 Browser\",\"sourceSettings\":{\"url\":\"https://player.twitch.tv/?parent=BLAH&volume=1&!muted&channel={{{payload}}}{{{quality}}}\"}}","output":"json","x":1860,"y":1260,"wires":[["37099789.2f2638"]]},{"id":"cb6c5c42.f9f09","type":"ui_text_input","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","label":"Player 1","tooltip":"","group":"8ccdea1b.541ad8","order":60,"width":3,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":1140,"y":1140,"wires":[["bbce4fae.665f1"]]},{"id":"e5bbad0c.cda19","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P1 Browser\",\"sourceSettings\":{\"url\":\"https://player.twitch.tv/?parent=BLAH&volume=1&!muted&channel={{{payload}}}{{{quality}}}\"}}","output":"json","x":1860,"y":1180,"wires":[["37099789.2f2638"]]},{"id":"bbce4fae.665f1","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"player1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1140,"wires":[[]]},{"id":"c461f7c3.02cca8","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"player2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1180,"wires":[[]]},{"id":"704b1a20.58f004","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"player3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1220,"wires":[[]]},{"id":"17522b47.d9e6f5","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"player4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1260,"wires":[[]]},{"id":"355c32a5.5504ae","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"player1","tot":"flow"},{"t":"set","p":"quality","pt":"msg","to":"quality","tot":"flow"},{"t":"set","p":"RTMPServerURL","pt":"msg","to":"RTMPServerURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1160,"wires":[["22096dcc.5a6bb2","e2b5537b.d398e"]]},{"id":"a7e5851.d623178","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"player2","tot":"flow"},{"t":"set","p":"quality","pt":"msg","to":"quality","tot":"flow"},{"t":"set","p":"RTMPServerURL","pt":"msg","to":"RTMPServerURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1240,"wires":[["961c385b.12a768","9102719c.58db8"]]},{"id":"96208752.6fc3d8","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"player3","tot":"flow"},{"t":"set","p":"quality","pt":"msg","to":"quality","tot":"flow"},{"t":"set","p":"RTMPServerURL","pt":"msg","to":"RTMPServerURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1320,"wires":[["61e48591.cc7d2c","8906c502.9bf628"]]},{"id":"2f516166.f08f6e","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"player4","tot":"flow"},{"t":"set","p":"quality","pt":"msg","to":"quality","tot":"flow"},{"t":"set","p":"RTMPServerURL","pt":"msg","to":"RTMPServerURL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1380,"wires":[["6e870f83.cc1b4","6c85dee9.9646c"]]},{"id":"1ada97f8.80c1f8","type":"ui_button","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Refresh","group":"8ccdea1b.541ad8","order":72,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":1320,"y":1420,"wires":[["cbeb1cd5.04855","51bda168.ee049"]]},{"id":"cbeb1cd5.04855","type":"delay","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Delay","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1330,"y":1380,"wires":[["355c32a5.5504ae","a7e5851.d623178","96208752.6fc3d8","2f516166.f08f6e"]]},{"id":"37099789.2f2638","type":"link out","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","links":["fa5721d4.24746"],"x":2015,"y":1280,"wires":[]},{"id":"758db6ee.0fea38","type":"ui_text","z":"4c0216e9.207cb8","g":"cd4202df.24e56","group":"cc8e6402.3a5e78","order":89,"width":3,"height":1,"name":"Player 2 Audio Text","label":"{{msg.payload}}","format":"","layout":"col-center","x":1770,"y":960,"wires":[]},{"id":"c04de81.6fb7318","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Label","rules":[{"t":"set","p":"payload","pt":"msg","to":"Player 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":940,"wires":[["758db6ee.0fea38"]]},{"id":"961c385b.12a768","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":960,"wires":[["c04de81.6fb7318"],["758db6ee.0fea38"]]},{"id":"8fe1182b.103958","type":"inject","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","x":1260,"y":980,"wires":[["ae050663.7aadb8","f5b606ac.f44388","17dd2848.d48778","c04de81.6fb7318"]]},{"id":"a3b6594f.cf90f8","type":"ui_dropdown","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","label":"Quality","tooltip":"","place":"Auto","group":"8ccdea1b.541ad8","order":68,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Auto","value":"","type":"str"},{"label":"Source","value":"&quality=chunked","type":"str"},{"label":"720p60","value":"&quality=720p60","type":"str"},{"label":"720p","value":"&quality=720p30","type":"str"},{"label":"480p","value":"&quality=480p30","type":"str"},{"label":"360p","value":"&quality=360p30","type":"str"},{"label":"160p","value":"&quality=160p30","type":"str"}],"payload":"","topic":"","x":1140,"y":1300,"wires":[["f63632ae.a3e9c"]]},{"id":"f63632ae.a3e9c","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"quality","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1300,"wires":[[]]},{"id":"8ec28249.bc128","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"4x3 3p","rules":[{"t":"set","p":"4x3_3p","pt":"flow","to":"payload.Scenes[\"4x3_3p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":500,"wires":[[]]},{"id":"32d28580.e7c1da","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"4x3 4p","rules":[{"t":"set","p":"4x3_4p","pt":"flow","to":"payload.Scenes[\"4x3_4p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":540,"wires":[[]]},{"id":"7337361a.6bad58","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"16x9 3p","rules":[{"t":"set","p":"16x9_3p","pt":"flow","to":"payload.Scenes[\"16x9_3p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":660,"wires":[[]]},{"id":"893f17a4.06b828","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"16x9 4p","rules":[{"t":"set","p":"16x9_4p","pt":"flow","to":"payload.Scenes[\"16x9_4p\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":700,"wires":[[]]},{"id":"902f7606.b431a8","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"3DS","rules":[{"t":"set","p":"3DS","pt":"flow","to":"payload.Scenes.3DS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":280,"wires":[[]]},{"id":"cc062bb7.1eceb8","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":29,"width":3,"height":1,"passthru":true,"label":"Intermission","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Intermission","payloadType":"flow","topic":"","x":110,"y":960,"wires":[["9995be63.465a1"]]},{"id":"b2b892b4.33507","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":10,"width":3,"height":1,"passthru":true,"label":"Cut","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cut","payloadType":"flow","topic":"","x":90,"y":920,"wires":[["5bdf9688.5fcbe8"]]},{"id":"d10a8617.da3c58","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":27,"width":3,"height":1,"passthru":true,"label":"16:9 1p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"16x9_1p","payloadType":"flow","topic":"","x":100,"y":1320,"wires":[["9995be63.465a1"]]},{"id":"fd139860.fcf0a8","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":26,"width":3,"height":1,"passthru":true,"label":"4:3 1p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4x3_1p","payloadType":"flow","topic":"","x":90,"y":1160,"wires":[["9995be63.465a1"]]},{"id":"e48e6fbb.3c60d","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":31,"width":3,"height":1,"passthru":true,"label":"16:9 2p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"16x9_2p","payloadType":"flow","topic":"","x":100,"y":1360,"wires":[["9995be63.465a1"]]},{"id":"dc992b62.e5e1f8","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":30,"width":3,"height":1,"passthru":true,"label":"4:3 2p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4x3_2p","payloadType":"flow","topic":"","x":90,"y":1200,"wires":[["9995be63.465a1"]]},{"id":"f2871a18.618868","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Custom 1","group":"8ccdea1b.541ad8","order":46,"width":4,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Custom1","payloadType":"flow","topic":"","x":560,"y":1360,"wires":[["2e8800d8.3647b"]]},{"id":"350da256.50105e","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":37,"width":3,"height":1,"passthru":true,"label":"Countdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Countdown","payloadType":"flow","topic":"","x":110,"y":1000,"wires":[["9995be63.465a1"]]},{"id":"260c2224.d4c82e","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":41,"width":3,"height":1,"passthru":true,"label":"Tech Difficulties","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TechDifficulty","payloadType":"flow","topic":"","x":120,"y":1120,"wires":[["9995be63.465a1"]]},{"id":"bd11d75c.63ab68","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":56,"width":4,"height":1,"passthru":true,"label":"Blank Screen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BlankScreen","payloadType":"flow","topic":"","x":110,"y":1080,"wires":[["9995be63.465a1"]]},{"id":"cfdc130.b3f61f","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Custom 2","group":"8ccdea1b.541ad8","order":51,"width":4,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Custom2","payloadType":"flow","topic":"","x":560,"y":1400,"wires":[["2e8800d8.3647b"]]},{"id":"962ef04f.ef4ea","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Custom 3","group":"8ccdea1b.541ad8","order":55,"width":4,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Custom3","payloadType":"flow","topic":"","x":560,"y":1440,"wires":[["2e8800d8.3647b"]]},{"id":"9a686e01.dbbbe","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Custom 4","group":"8ccdea1b.541ad8","order":47,"width":4,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Custom4","payloadType":"flow","topic":"","x":560,"y":1480,"wires":[["2e8800d8.3647b"]]},{"id":"df522ba6.4a15a8","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Custom 5","group":"8ccdea1b.541ad8","order":52,"width":4,"height":1,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Custom5","payloadType":"flow","topic":"","x":560,"y":1520,"wires":[["2e8800d8.3647b"]]},{"id":"2e8800d8.3647b","type":"template","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\":\"SetPreviewScene\",\n    \"scene-name\":\"{{{payload}}}\"\n}","output":"json","x":860,"y":1220,"wires":[["2751dbbc.3db6e4"]]},{"id":"2751dbbc.3db6e4","type":"link out","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","links":["fa5721d4.24746","8a7feda9.a1bde"],"x":975,"y":1220,"wires":[]},{"id":"ba1aad28.41af4","type":"change","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custom1Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1360,"wires":[["f2871a18.618868"]]},{"id":"60550fad.9d455","type":"inject","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","x":120,"y":1520,"wires":[["ba1aad28.41af4","a9258ad8.ce5038","3c54ea90.b4b6d6","f94ab837.f90de8","82e6eab1.cf6318"]]},{"id":"82e6eab1.cf6318","type":"change","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custom2Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1400,"wires":[["cfdc130.b3f61f"]]},{"id":"f94ab837.f90de8","type":"change","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custom3Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1440,"wires":[["962ef04f.ef4ea"]]},{"id":"3c54ea90.b4b6d6","type":"change","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custom4Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1480,"wires":[["9a686e01.dbbbe"]]},{"id":"a9258ad8.ce5038","type":"change","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"Custom5Name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1520,"wires":[["df522ba6.4a15a8"]]},{"id":"c7f0abc7.66a378","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":33,"width":3,"height":1,"passthru":true,"label":"Interview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Interview","payloadType":"flow","topic":"","x":100,"y":1040,"wires":[["9995be63.465a1"]]},{"id":"3fe2ba22.c1fa26","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":9,"width":3,"height":1,"passthru":true,"label":"Transition","tooltip":"","color":"","bgcolor":"","icon":"","payload":"transition","payloadType":"flow","topic":"","x":100,"y":880,"wires":[["5bdf9688.5fcbe8"]]},{"id":"f043c88e.615b58","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":38,"width":3,"height":1,"passthru":true,"label":"4:3 4p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4x3_4p","payloadType":"flow","topic":"","x":90,"y":1280,"wires":[["9995be63.465a1"]]},{"id":"88866153.5a68","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":34,"width":3,"height":1,"passthru":true,"label":"4:3 3p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4x3_3p","payloadType":"flow","topic":"","x":90,"y":1240,"wires":[["9995be63.465a1"]]},{"id":"1f243648.049b4a","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":40,"width":3,"height":1,"passthru":true,"label":"3DS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3DS","payloadType":"flow","topic":"","x":570,"y":1320,"wires":[["2e8800d8.3647b"]]},{"id":"29d93da0.c89672","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":28,"width":3,"height":1,"passthru":true,"label":"GB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GB","payloadType":"flow","topic":"","x":570,"y":1200,"wires":[["2e8800d8.3647b"]]},{"id":"e888ca8c.968198","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":32,"width":3,"height":1,"passthru":true,"label":"GBA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GBA","payloadType":"flow","topic":"","x":570,"y":1240,"wires":[["2e8800d8.3647b"]]},{"id":"de0b2de5.168ca","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":36,"width":3,"height":1,"passthru":true,"label":"DS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DS","payloadType":"flow","topic":"","x":570,"y":1280,"wires":[["2e8800d8.3647b"]]},{"id":"7730f238.410dcc","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":35,"width":3,"height":1,"passthru":true,"label":"16:9 3p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"16x9_3p","payloadType":"flow","topic":"","x":100,"y":1400,"wires":[["9995be63.465a1"]]},{"id":"7216f5c4.f637dc","type":"ui_button","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","group":"8ccdea1b.541ad8","order":39,"width":3,"height":1,"passthru":true,"label":"16:9 4p","tooltip":"","color":"","bgcolor":"","icon":"","payload":"16x9_4p","payloadType":"flow","topic":"","x":100,"y":1440,"wires":[["9995be63.465a1"]]},{"id":"5bdf9688.5fcbe8","type":"template","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\":\"TransitionToProgram\",\n    \"with-transition\":\"{{{payload}}}\"\n}","output":"json","x":340,"y":900,"wires":[["2751dbbc.3db6e4"]]},{"id":"9995be63.465a1","type":"template","z":"4c0216e9.207cb8","g":"a133ab56.af7628","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"request-type\":\"SetPreviewScene\",\n    \"scene-name\":\"{{{payload}}}\"\n}","output":"json","x":560,"y":1160,"wires":[["2751dbbc.3db6e4"]]},{"id":"2701ccba.d69c04","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"RTMP Server URL","rules":[{"t":"set","p":"RTMPServerURL","pt":"flow","to":"payload.RTMPServerURL","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":700,"wires":[[]]},{"id":"e2b5537b.d398e","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"RTMP Check","property":"UseRTMP","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":1160,"wires":[["a659bf99.76569"],["e5bbad0c.cda19"]]},{"id":"9102719c.58db8","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"RTMP Check","property":"UseRTMP","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":1240,"wires":[["713f6396.b216cc"],["a88e6e2b.e4b57"]]},{"id":"8906c502.9bf628","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"RTMP Check","property":"UseRTMP","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":1320,"wires":[["8cc6b4dd.070fe8"],["ffc87851.964478"]]},{"id":"6c85dee9.9646c","type":"switch","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"RTMP Check","property":"UseRTMP","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":1400,"wires":[["f54dda11.739928"],["3e492a42.e51b26"]]},{"id":"a659bf99.76569","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P1 Browser\",\"sourceSettings\":{\"input\":\"{{{RTMPServerURL}}}/{{{payload}}}\"}}","output":"json","x":1860,"y":1140,"wires":[["37099789.2f2638"]]},{"id":"713f6396.b216cc","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P2 Browser\",\"sourceSettings\":{\"input\":\"{{{RTMPServerURL}}}/{{{payload}}}\"}}","output":"json","x":1860,"y":1220,"wires":[["37099789.2f2638"]]},{"id":"8cc6b4dd.070fe8","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P3 Browser\",\"sourceSettings\":{\"input\":\"{{{RTMPServerURL}}}/{{{payload}}}\"}}","output":"json","x":1860,"y":1300,"wires":[["37099789.2f2638"]]},{"id":"f54dda11.739928","type":"template","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"request-type\":\"SetSourceSettings\",\"sourceName\":\"P4 Browser\",\"sourceSettings\":{\"input\":\"{{{RTMPServerURL}}}/{{{payload}}}\"}}","output":"json","x":1860,"y":1380,"wires":[["37099789.2f2638"]]},{"id":"51bda168.ee049","type":"change","z":"4c0216e9.207cb8","g":"cd4202df.24e56","name":"Variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"quality","pt":"msg","to":"","tot":"str"},{"t":"set","p":"RTMPServerURL","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1420,"wires":[["6c85dee9.9646c","8906c502.9bf628","9102719c.58db8","e2b5537b.d398e"]]},{"id":"ac877a6d.c78fc8","type":"ui_button","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","group":"f730e6b9.e57418","order":19,"width":12,"height":1,"passthru":false,"label":"Open NodeCG Dashboard","tooltip":"","color":"","bgcolor":"","icon":"","payload":"NodeCG","payloadType":"str","topic":"openNodeCGDashboard","x":1660,"y":2680,"wires":[["47751693.749038"]]},{"id":"5a70c178.596e5","type":"change","z":"4c0216e9.207cb8","g":"113fd92b.f1f0b7","name":"NodeCG Dashboard IP","rules":[{"t":"set","p":"NodeCGDashboardIP","pt":"flow","to":"payload.NodeCGDashboardIP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":740,"wires":[[]]},{"id":"1a64c5a2.fd3c6a","type":"change","z":"4c0216e9.207cb8","g":"a23e689e.f795a8","name":"Set URL","rules":[{"t":"set","p":"url","pt":"msg","to":"NodeCGDashboardIP","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":3280,"wires":[["1513aa0a.4beec6"]]},{"id":"1513aa0a.4beec6","type":"template","z":"4c0216e9.207cb8","g":"a23e689e.f795a8","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"NodeCG\") {\n          window.open(\"{{{url}}}\");\n        }\n    });\n})(scope);\n</script>","output":"str","x":1440,"y":3280,"wires":[["5e1f0081.6dc3c"]]},{"id":"7f6ec2b2.0ba81c","type":"link out","z":"4c0216e9.207cb8","g":"149d213a.106a4f","name":"","links":["d9406dd0.3b86e"],"x":2015,"y":2600,"wires":[]},{"id":"d9406dd0.3b86e","type":"link in","z":"4c0216e9.207cb8","g":"a23e689e.f795a8","name":"","links":["7f6ec2b2.0ba81c"],"x":1135,"y":3280,"wires":[["1a64c5a2.fd3c6a"]]},{"id":"5e1f0081.6dc3c","type":"ui_template","z":"4c0216e9.207cb8","g":"a23e689e.f795a8","group":"f730e6b9.e57418","name":"NodeCG UI Template","order":38,"width":2,"height":1,"format":"","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1660,"y":3280,"wires":[[]]},{"id":"d327b4e0.9510a8","type":"comment","z":"4c0216e9.207cb8","g":"81680dd0.944fd","name":"It would be greatly appreciated if you didn't change the home page text. Thanks! -nicnacnic","info":"","x":1590,"y":3800,"wires":[]},{"id":"5b957777.fabf08","type":"inject","z":"4c0216e9.207cb8","g":"1328594f.f2b287","name":"Refresh","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","x":780,"y":3960,"wires":[["e1cd002c.333d5","81e5ba5a.181a58","a28190c5.0af99","93747560.8d2848"]]},{"id":"e1cd002c.333d5","type":"ui_template","z":"4c0216e9.207cb8","g":"1328594f.f2b287","group":"8ccdea1b.541ad8","name":"Scenes Footer","order":75,"width":30,"height":1,"format":"<p style=\"text-align:left;\">\n    Restreamer Dashboard created by nicnacnic\n    <span style=\"float:right;\">\n        Copyright (c) 2021 nicnacnic\n    </span>\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":3900,"wires":[[]]},{"id":"81e5ba5a.181a58","type":"ui_template","z":"4c0216e9.207cb8","g":"1328594f.f2b287","group":"cc8e6402.3a5e78","name":"Audio Footer","order":99,"width":30,"height":1,"format":"<p style=\"text-align:left;\">\n    Restreamer Dashboard created by nicnacnic\n    <span style=\"float:right;\">\n        Copyright (c) 2021 nicnacnic\n    </span>\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":970,"y":3940,"wires":[[]]},{"id":"a28190c5.0af99","type":"ui_template","z":"4c0216e9.207cb8","g":"1328594f.f2b287","group":"c7e34ee2.e93ba","name":"Monitoring Footer","order":25,"width":30,"height":1,"format":"<p style=\"text-align:left;\">\n    Restreamer Dashboard created by nicnacnic\n    <span style=\"float:right;\">\n        Copyright (c) 2021 nicnacnic\n    </span>\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":3980,"wires":[[]]},{"id":"93747560.8d2848","type":"ui_template","z":"4c0216e9.207cb8","g":"1328594f.f2b287","group":"f730e6b9.e57418","name":"Advanced Footer","order":41,"width":30,"height":1,"format":"<p style=\"text-align:left;\">\n    Restreamer Dashboard created by nicnacnic\n    <span style=\"float:right;\">\n        Copyright (c) 2021 nicnacnic\n    </span>\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":4020,"wires":[[]]}]